@import '../../shared/variables';
@import '../../shared/mixins';

.exercise-header {
  display: flex;
  justify-content: space-between;
}

.exercise-content {
  display: flex;
  flex-direction: column-reverse;

  @media #{$gt-lg_size} {
    flex-direction: row;
  }

  .content-left {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  .content-right {
    @media #{$gt-lg_size} {
      padding-left: $margin;
    }
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.next-exercise {
  margin-right: 12px;
  display: flex;
  justify-content: flex-end;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: .5*$margin 0;

  .one-setting {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: .5*$margin 0;
  }
}

.progress {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: $margin;
  .progress-bar {
    padding: .5*$margin 0;
    text-align: center;
  }
}

/deep/ .mat-tab-label {
  min-width: 48px !important;
  max-width: 48px !important;
}

/deep/ mat-tab-header {
  display: none !important;
}
