<section class="section-exercise-list" *ngIf="exerciseList">

  <button mat-button color="accent" id="addExercise" (click)="showNewExercise()">
    <mat-icon aria-label="Add exercise">add</mat-icon>
    <span>Add exercise</span>
  </button>


  <div *ngIf="!newExercise && exerciseList.length === 0" class="no-exercises">
    <span>Lack of exercises. Add some!</span>
  </div>

  <div *ngIf="newExercise">
    <app-one-exercise [exercise]="newExercise"
                      [editMode]="true"
                      [showAnswers]="true"
                      (addedExercise)="handleAddedExercise($event)"
    ></app-one-exercise>

    <p class="header-line-after">'</p>
  </div>
  <app-one-exercise *ngFor="let exercise of exerciseList; let i=index;"
                    [exercise]="exercise"
                    (addedExercise)="handleAddedExercise($event)"
  ></app-one-exercise>


</section>
