<div class="exercise-header" *ngIf="test">

  <div class="header_left">
    <button mat-icon-button>
      <mat-icon aria-label="Back icon">arrow_back</mat-icon>
    </button>
    <span>{{test.testName}}</span>
  </div>

  <div class="settings-actions">
    <button mat-mini-fab>
      <mat-icon aria-label="Save icon">save</mat-icon>
    </button>

    <button mat-mini-fab (click)="showSettings = !showSettings" color="primary">
      <mat-icon aria-label="Open test settings icon" *ngIf="!showSettings">settings</mat-icon>
      <mat-icon aria-label="Close test settings icon" *ngIf="showSettings">close</mat-icon>
    </button>

    <button mat-mini-fab [matMenuTriggerFor]="more">
      <mat-icon aria-label="More icon">more_vert</mat-icon>
    </button>

    <!-- More menu -->
    <mat-menu #more="matMenu" xPosition="before">
      <ng-template matMenuContent>
        <button mat-menu-item>
          <mat-icon aria-label="Profile icon">person</mat-icon>
          <span>TODO</span>
        </button>
        <button mat-menu-item>
          <mat-icon aria-label="User type icon">accessibility</mat-icon>
          <span>TODO</span>
        </button>
        <button mat-menu-item>
          <mat-icon aria-label="Logout icon">exit_to_app</mat-icon>
          <span>TODO</span>
        </button>
      </ng-template>
    </mat-menu>
  </div>

</div>


<div class="exercise-content">

  <!-- CONTENT LEFT - exercise -->
  <div class="content-left">

    <!-- EXERCISES IN TABS -->
    <mat-tab-group *ngIf="!isTestEnd">
      <mat-tab *ngFor="let exercise of testExercises; let i=index;" [label]="exercise.number">
        <app-exercise [exercise]="exercise"
                      (answerClicked)="handleSelectedAnswer($event)"></app-exercise>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="isTestEnd">
      TODO test is end

      <button mat-raised-button (click)="resetTest()">RESET TEST</button>
    </div>

    <!-- next exercise button-->
    <div class="next-exercise">
      <button mat-raised-button
              [disabled]="!answerClickedOutput"
              *ngIf="!isAutoPlay && !isTestEnd"
              (click)="nextExercise()">
        Next
      </button>
    </div>
  </div> <!-- end CONTENT LEFT -->


  <!-- CONTENT RIGHT - STATS / OPTIONS -->
  <div class="content-right">

    <!-- STATS - RATIOS -->
    <div class="progress">
      <div class="progress-bar">
        <span>Reviewed: {{reviewedExercisesCounter}} / {{test.exercises.length}}</span>
        <mat-progress-bar
          style="margin-top: 5px;"
          color="accent"
          mode="determinate"
          [value]="countReviewedRatio()">
        </mat-progress-bar>
      </div>
      <div class="progress-bar">
        <span>Mastered: {{masteredExercisesCount}} / {{test.exercises.length}}</span>
        <mat-progress-bar
          style="margin-top: 5px;"
          color="primary"
          mode="determinate"
          [value]="countMasteredRatio()">
        </mat-progress-bar>
      </div>
    </div> <!-- end STATS -->


    <div *ngIf="!isTestEnd">

      Occurrences: {{answerClickedOutput ? checkNumberOfExerciseOccurrences(testExercises[0].number) - 1 :
      checkNumberOfExerciseOccurrences(testExercises[0].number)}}
    </div>

    <!-- SETTINGS -->
    <div class="settings" *ngIf="showSettings">
      <div class="one-setting">
        <span>The number of task occurrence</span>
        <mat-slider
          [min]="0"
          [max]="10"
          [step]="1"
          [thumb-label]="true"
          [(ngModel)]="occurrencesExerciseNumber">
        </mat-slider>
      </div>

      <div class="one-setting">
        <span>The number of repetitions in the case of an incorrect answer</span>
        <mat-slider
          [min]="0"
          [max]="10"
          [step]="1"
          [thumb-label]="true"
          [(ngModel)]="occurrencesWrongExerciseNumber">
        </mat-slider>
      </div>

      <!-- Autoplay settings -->
      <div class="auto-play">
        <mat-slide-toggle
          class="example-margin"
          color="accent"
          [disabled]="answerClickedOutput"
          [(ngModel)]="isAutoPlay">
          Auto play
        </mat-slide-toggle>

        <div class="one-setting" *ngIf="isAutoPlay">
          <span>Autoplay duration (s)</span>
          <mat-slider
            [min]="1"
            [max]="5"
            [step]="1"
            [thumb-label]="true"
            [(ngModel)]="autoPlayDuration">
          </mat-slider>
        </div>
      </div> <!-- end Autoplay settings-->
    </div> <!-- end SETTINGS-->
  </div> <!-- end CONTENT RIGHT-->


</div>








