@import '../../../shared/variables';
@import '../../../shared/mixins';

.my-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  @include box_shadow;
}

.left, .right {
  display: flex;
  align-items: center;
}

.login-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $text_secondary;
}
