<app-sticky-hide-toolbar [height]="48"
                         *ngIf="headerVisibility"
                         [stickyTop]="true"
                         [boxShadow]="true"
                         [scrollHide]="true"
                         [color]="'accent'">

  <div class="my-header">
    <div class="header-logo" [routerLink]="ALL_ROUTES.DASHBOARD" cdkScrollable>
      LOGO
    </div>

    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Dashboard">menu</mat-icon>
    </button>

  </div>
</app-sticky-hide-toolbar>
