<div *ngIf="headerVisibility">

  <app-sticky-hide-toolbar [height]="56"
                           [stickyTop]="true"
                           [boxShadow]="true"
                           [color]="'accent'">

    <div class="my-header">
      <div class="header-logo" [routerLink]="ALL_ROUTES.DASHBOARD" cdkScrollable>
        LOGO
      </div>

      <div class="header-actions">

        <!-- DASHBOARD -->
        <button mat-icon-button [matMenuTriggerFor]="dashboard">
          <mat-icon aria-label="Dashboard">dashboard</mat-icon>
        </button>
        <mat-menu #dashboard="matMenu" xPosition="before">
          <button mat-menu-item [routerLink]="ALL_ROUTES.CREATE_TEST">
            <mat-icon aria-label="Add">add</mat-icon>
            <span>Create</span>
          </button>
          <button mat-menu-item [routerLink]="ALL_ROUTES.SEARCH">
            <mat-icon aria-label="Search">search</mat-icon>
            <span>Search</span>
          </button>
          <button mat-menu-item [routerLink]="ALL_ROUTES.USER_TESTS_LIST" *ngIf="isUserAuthenticated">
            <mat-icon aria-label="Yours">view_list</mat-icon>
            <span>Yours</span>
          </button>

        </mat-menu>

        <!-- ACCOUNT AUTH -->
        <button mat-icon-button [matMenuTriggerFor]="account" *ngIf="isUserAuthenticated">
          <mat-icon aria-label="Account">account_circle</mat-icon>
        </button>
        <mat-menu #account="matMenu" xPosition="before">
          <button mat-menu-item>
            <mat-icon aria-label="Profile">account_circle</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon aria-label="Logout">exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

        <!-- MORE -->
        <button mat-icon-button [matMenuTriggerFor]="more">
          <mat-icon aria-label="More">more_vert</mat-icon>
        </button>
        <mat-menu #more="matMenu" xPosition="before">
          <button mat-menu-item>
            <mat-icon aria-label="About">info</mat-icon>
            <span>About</span>
          </button>
          <button mat-menu-item>
            <mat-icon aria-label="Settings">settings</mat-icon>
            <span>Settings</span>
          </button>
        </mat-menu>

        <!-- ACCOUNT NO AUTH -->
        <button mat-stroked-button
                id="noAuthButton"
                (click)="openAuthDialog()"
                *ngIf="!isUserAuthenticated">
          login
        </button>

      </div>

    </div> <!-- /my-header -->
  </app-sticky-hide-toolbar>


</div>
