@import '../../../shared/variables';
@import '../../../shared/mixins';

.my-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0;
  @media #{$gt-xs_size} {
    padding: 16px;
  }
  @include box_shadow;
  button {
    outline: none;
  }
}

.header-text {
  margin-left: .5*$margin;
}

.left, .right {
  display: flex;
  align-items: center;
}

.content-center {
  display: flex;
  align-items: center;
  cursor: pointer;
  .app-icon {
    display: flex;
    margin: 0 .5*$margin;
  }
}

.login-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $text_secondary;
}
