<div class="single-exercise">

  <!-- EXERCISE HEADER -->
  <div class="exercise-header " [ngClass]="{'header-no-edit': !editMode, 'header-edit': editMode}">


    <!-- HEADER BUTTONS -->
    <div *ngIf="isAuthor && !importMode" style="float: right;">
      <div *ngIf="!editMode" class="edit-buttons">
        <button mat-icon-button
                class="delete-button"
                (click)="deleteExercise()"
                matTooltip="Delete">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
        <button mat-icon-button
                class="normal-button"
                (click)="startEditExercise()"
                matTooltip="Edit">
          <mat-icon aria-label="Edit">edit_mode</mat-icon>
        </button>
      </div>
      <div *ngIf="editMode" class="edit-buttons">

        <button mat-icon-button
                matTooltip="Save"
                style="margin-left: 6px;"
                (click)="saveExercise()"
                class="normal-button"
                color="accent">
          <mat-icon aria-label="Save">save</mat-icon>
        </button>
        <button mat-icon-button
                class="normal-button"
                id="addImageButton"
                matTooltip="Not available yet">
          <mat-icon aria-label="Add image">add_photo_alternate</mat-icon>
        </button>
        <button mat-icon-button
                class="delete-button"
                (click)="stopEditExercise()"
                matTooltip="Cancel">
          <mat-icon aria-label="Cancel">close</mat-icon>
        </button>

      </div>
    </div><!-- /HEADER BUTTONS -->

    <!-- NO EDITABLE TITLE -->
    <div *ngIf="!editMode" style="margin-top: 6px;">
      <span class="exercise-number">{{number}}.</span>
      <span>{{exercise.question}}</span>
    </div>

    <!-- EDITABLE TITLE -->
    <div *ngIf="editMode"
         class="width-100"
         (keydown)="handleSpacebar($event)">
      <span class="exercise-number">{{number}}.</span>
      <mat-form-field color="accent"
                      class="editable-title-form"
                      floatLabel="never">
        <input matInput
               myAutofocus
               type="text"
               placeholder="Question"
               [(ngModel)]="exercise.question">
      </mat-form-field>
    </div>

  </div><!-- /EXERCISE HEADER -->

  <!-- ANSWERS -->
  <div class="exercise-answers row">
    <div *ngFor="let answer of exercise.answers; let j=index; trackBy: customTrackBy"
         [ngClass]="{'col-12 col-md-6': !editMode, 'col-12': editMode}"
         class="single-answer">

      <!-- NO EDITABLE ANSWER -->
      <div *ngIf="!editMode" class="no-editable-answer">
        <span [style.color]="checkIfIsCorrect(j) ? appSettings.currentTheme.accent : ''">
          {{getLetterFromAscii(j)}}
        </span>
        <span class="answer-text">{{answer}}</span>
      </div>

      <!-- EDITABLE ANSWER -->
      <div *ngIf="editMode" class="editable-answer">
        <mat-checkbox #matCheck
                      matTooltip="Correct"
                      [checked]="checkIfIsCorrect(j)"
                      (change)="changeCorrectAnswer(j, matCheck.checked)"
                      class="answer-checkbox"></mat-checkbox>

        <mat-form-field color="accent"
                        class="answer-text width-100"
                        appearance="outline">
          <mat-label>{{'Answer ' + getLetterFromAscii(j)}}</mat-label>
          <input matInput
                 placeholder="Type the answer..."
                 [(ngModel)]="exercise.answers[j]">
        </mat-form-field>

        <button mat-icon-button
                style="outline: none;"
                id="deleteAnswerButton"
                class="delete-button"
                (click)="deleteOneAnswer(j)"
                *ngIf="j > 1">
          <mat-icon aria-label="Delete answer">delete_outline</mat-icon>
        </button>
      </div>

    </div><!-- /single-answer -->

    <div *ngIf="editMode" class="col-12 add-answer">
      <button mat-button color="accent" style="opacity: 1;" (click)="exercise.answers.push('');">
        <mat-icon aria-label="Add answer">add</mat-icon>
        <span>Add answer</span>
      </button>
    </div>

  </div><!-- /ANSWERS -->
</div>
