@import '../../../shared/variables';
@import '../../../shared/mixins';

/deep/ .mat-form-field-infix {
  width: auto;
}

button {
  outline: none;
  opacity: .5;
  transition: all .3s;
  &:hover {
    opacity: 1;
  }
}

.single-exercise {
  margin-bottom: .5*$margin;
  border-radius: $border-radius;
  border: 1px solid $hover_color;
}

.exercise-header {
  padding: .5*$margin;
  min-height: 60px;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  color: currentColor !important;
  background-color: rgba(0, 0, 0, 0.05);
}

.header-edit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media #{$gt-xs_size} {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.editable-title-form {
  width: 85%;
  @media #{$gt-lg_size} {
    width: 95%;
  }
}

.exercise-number {
  font-weight: 600;
  margin-right: 12px;
}

/*
  ANSWERS
 */
.exercise-answers {
  padding: .5*$margin .5*$margin 0;
  @media #{$gt-lg_size}{
    padding: $margin $margin .5*$margin;
  }
}

/deep/ .mat-form-field-wrapper {
  padding-bottom: 0;
}

.single-answer {
  display: flex;
  align-items: center;
  margin-bottom: .25*$margin;
  @media #{$gt-md_size}{
    margin-bottom: .5*$margin;
  }
}

.no-editable-answer {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}

.answer-text {
  min-width: 0;
  padding-left: .5*$margin;
  @media #{$gt-xs_size}{
    padding-left: $margin;
  }
  font-size: 1.1*$font-small;
}

.editable-answer {
  width: 100%;
  display: flex;
  align-items: center;
}

.answer-checkbox {
  height: 20px;
}

.add-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    outline: none;
  }
}

/*
  ACTIONS
 */
.edit-buttons {
  display: flex;
  align-items: center;
}

.normal-button {
  color: $text_secondary;
  &:hover {
    color: $text-dark;
  }
}

.delete-button {
  color: $text_secondary;
  &:hover {
    color: $material-red;
  }
}

#deleteAnswerButton {
  margin-right: -12px;
  @media #{$gt-lg_size} {
    margin-right: -19px;
  }
}
