@import '../../shared/variables';

button {
  outline: none;
}

.about-card {
  border-radius: $border-radius;
}

.one-tech {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
