<section class="section-padding">

  <div class="row">

    <div class="col-12 col-md-6"
         [style.color]="appSettings.currentTheme.textColor">
      <div class="sub-title-text">
        <h3 class="my-title">{{ 'about-header' | translate}}</h3>
        <p class="my-sub-title" [innerHTML]="'about-paragraph' | translate"></p>
        <p class="my-sub-title">
          {{ 'about-contact' | translate}}
          <a href="mailto:contact@e-testo.com"  [style.color]="appSettings.currentTheme.textColor">
            <strong>contact@e-testo.com</strong>
          </a>
        </p>

      </div>
    </div>

    <div class="col-12 col-md-6">
      <mat-card class="about-card">
        <h4 class="my-sub-title" style="text-align: center;">{{ 'about-technologies-libraries' | translate}}</h4>
        <div class="one-tech" *ngFor="let oneTech of usedTechs">
          <h5 class="paragraph-font">{{oneTech.label}}</h5>
          <button mat-icon-button color="accent" (click)="navigateTolink(oneTech.link)">
            <mat-icon aria-label="Link">link</mat-icon>
          </button>
        </div>


      </mat-card>

    </div> <!-- /col-md-auto -->
  </div> <!-- /row -->
</section>
