<section class="section-padding">

  <div class="row">

    <div class="col-12 col-md-6"
         [style.color]="appSettings.currentTheme.textColor">
      <div class="sub-title-text">
        <h3 class="my-title">About</h3>
        <p class="my-sub-title">
          <strong>E-testo</strong> is an application that enables learning by solving tests. You can create tests, or
          choose one of the existing ones. Learning progress is saved, so you can continue learning wherever you are, on
          any device.
        </p>
        <p class="my-sub-title">
          Contact:
          <a [style.color]="appSettings.currentTheme.textColor"
             href="mailto:contact@e-testo.com">
            <strong>contact@e-testo.com</strong>
          </a>
        </p>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <mat-card class="about-card">
        <h4 class="my-sub-title" style="text-align: center;">Technologies & libraries</h4>
        <div class="one-tech" *ngFor="let oneTech of usedTechs">
          <h5 class="paragraph-font">{{oneTech.label}}</h5>
          <button mat-icon-button color="accent" (click)="navigateTolink(oneTech.link)">
            <mat-icon aria-label="Link">link</mat-icon>
          </button>
        </div>


      </mat-card>

    </div> <!-- /col-md-auto -->
  </div> <!-- /row -->
</section>
