@import '../../shared/variables';
@import '../../shared/mixins';

.sub-header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid $hover_color;
}

mat-vertical-stepper {
  background: transparent !important;
}

.stepper-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/deep/ .mat-step-header .mat-step-icon {
  background-color: $accent !important;
}

/deep/ mat-vertical-stepper > div:nth-child(3) > div {
  margin: 0;
}

.step-header {
  display: flex;
  align-items: center;
  mat-icon {
    margin-left: $margin;
    color: $material-red;
    @include mat-icon-size(32px);
  }
}

.step-warning {
  text-align: center;
  color: $material-red;
}
