@import '../variables';
@import '../mixins';

.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $hover_color;
  @include fs-small-X-normal();
}

.my-breadcrumb {
  opacity: .7;
  display: flex;
  .breadcrumb-item {
    display: flex;
    align-items: center;
    a {
      color: $text_secondary;
    }
  }
  .breadcrumb-icon {
    margin: 0 5px;
    @include mat-icon-size(16px)
  }
}

#premiumButton {
  outline: none;
  border-radius: 5px;
  @include fs-small-X-normal();
  padding: 0 .5*$margin;
  min-width: 0;
}
