<mat-toolbar class="page-header"
             *ngIf="headerValues.pageHeaderVisibility"
             [style.height]="height + 'px'">

  <div class="my-breadcrumb">
    <span *ngFor="let route of headerValues.breadcrumb; let i=index" class="breadcrumb-item">

      <a [routerLink]="[route]" *ngIf="i < headerValues.breadcrumb.length - 1">
        {{route[0].toUpperCase() + route.substring(1)}}
      </a>

      <mat-icon *ngIf="i < headerValues.breadcrumb.length - 1" class="breadcrumb-icon">chevron_right</mat-icon>

      <span *ngIf="i === headerValues.breadcrumb.length - 1"
            [style.color]="themeService.currentTheme.accent"
            class="current-route">
        {{headerValues.breadcrumb[headerValues.breadcrumb.length - 1][0].toUpperCase() + headerValues.breadcrumb[headerValues.breadcrumb.length - 1].substring(1)}}
      </span>
    </span>
  </div>

  <button mat-stroked-button color="accent" id="premiumButton">
    Premium
  </button>
</mat-toolbar>
