@import '../../shared/mixins';
@import '../../shared/variables';

.section-test-edit {
  margin: $margin;
}

.test-edit-actions {
  display: flex;
  margin-bottom: 2*$margin;
  &:first-child {
    margin-left: .5*$margin;
  }
}
