@import '../../../shared/mixins';
@import '../../../shared/variables';

.no-exercises {
  text-align: center;
  margin: 2*$margin .5*$margin;
  color: $text_secondary;
}

#addExercise {
  width: 100%;
  height: 48px;
  text-transform: uppercase;
}

.my-card {
  width: 100%;
  padding: 0;
  margin: 5px 0;
}

.exercises-list-header {
  display: flex;
  align-items: center;
  &:hover {
    background-color: $hover_color;
  }

  padding-right: .5*$margin;
  .exercise-question {
    width: 100%;
    cursor: pointer;
    margin-right: $margin;
    padding: $margin 0 $margin $margin;
  }
}

.question_not-editable {
  font-weight: 700;
  display: flex;
  align-items: center;
}

.question_editable {
  width: 100%;
}

.exercise-header-buttons {
  display: flex;
  mat-icon {
    color: $divider_color;
    &:hover {
      color: $text_secondary;
    }
  }
}

.answers {
  padding: $margin 1.2*$margin $margin $margin;
  font-size: $font-small;
}

.answer_not-editable {
  padding: .5*$margin 0;
  display: flex;
  align-items: center;
}

.answer-letter {
  margin-right: 29px;
  font-size: $font-normal;
}

.correct-answer {
  color: $accent;
}

.correct-answer_editable {
  display: inline-flex;
  flex-direction: column;
  mat-radio-button {
    margin-right: $margin;
  }
  mat-form-field {
    width: 100%;
  }
}

mat-radio-group, /deep/ label, /deep/ .mat-radio-label-content {
  width: 100%;
}

.new-exercise {
  padding: $margin;
}

.new-answers {
  display: flex;
  flex-direction: column;
}
