<section class="section-display-exercises" *ngIf="exerciseList">

  <div class="exercises-header">
    <mat-form-field appearance="outline" class="one-field">
      <mat-label>Search exercise</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchText"
             placeholder="Search exercise"
             [disabled]="exerciseList.length === 0">
    </mat-form-field>

    <mat-form-field appearance="outline" class="one-field">
      <mat-label>Sort by</mat-label>
      <mat-select placeholder="Sort by"
                  [(ngModel)]="selectedOption"
                  (selectionChange)="changeSortOption()"
                  [disabled]="exerciseList.length === 0">
        <mat-option *ngFor="let option of sortOption" [value]="option">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-expansion-panel *ngFor="let exercise of exerciseList | searchExercise : searchText"
                       class="single-exercise">
    <mat-expansion-panel-header class="expansion-header"
                                expandedHeight="auto"
                                collapsedHeight="auto">
      <mat-panel-title>
        <span class="exercise-number">{{exercise.number}}.</span>
        <span class="exercise-question">{{exercise.question}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="exercise-answers">
      <div *ngFor="let answer of exercise.answers; let j=index;"
           class="single-answer"
           [ngClass]="{'correct-answer': exercise.correctAnswer === j}">
        <span class="answer-letter">{{getLetterFromAscii(j)}}</span>
        <span>{{answer}}</span>
      </div>
    </div>
  </mat-expansion-panel>

  <div *ngIf="exerciseList.length === 0" class="no-matches">
    <p>Lack of exercises</p>
  </div>

  <div class="change-button" *ngIf="!searchText">
    <button mat-raised-button color="accent" (click)="navigateToEdit()">
      <span *ngIf="exerciseList.length > 0">make changes</span>
      <span *ngIf="exerciseList.length === 0">add exercise</span>
    </button>
  </div>

  <div *ngIf="exerciseList.length > 0 && (exerciseList | searchExercise: searchText).length === 0"
       class="no-matches">
    <mat-icon aria-label="No matches icon" class="no-matches-icon">sentiment_very_dissatisfied</mat-icon>
    <p><span class="text">No matches</span> for <strong>{{searchText}}</strong></p>
    <button mat-stroked-button color="accent" (click)="searchText = ''">clear input</button>
  </div>
</section>
