@import '../../../shared/variables';
@import '../../../shared/mixins';

.section-display-exercises {
  margin: $margin 0;
}

.exercises-header {
  display: flex;
  flex-direction: column-reverse;
  @media #{$gt-xs_size} {
    flex-direction: row;
  }

  .one-field {
    margin-right: .5*$margin;
    &:first-child {
      width: 100%;
    }
    &:last-child {
      margin-right: 0;
      width: 100%;
      @media #{$gt-xs_size} {
        width: auto;
      }
    }
  }
}

.single-exercise {
  margin-bottom: .5*$margin;
  .exercise-number {
    margin-right: .5*$margin;
  }
  .expansion-header {
    padding: .75*$margin $margin;
  }
}

.exercise-answers {
  font-size: $font-small;
}

.single-answer {
  padding: .5*$margin 0;
  display: flex;
  align-items: center;
}

.correct-answer {
  color: $accent;
}

.answer-letter {
  margin-right: 29px;
  font-size: $font-normal;
}

.change-button {
  display: flex;
  justify-content: center;
  padding: $margin;
  button {
    @include upper-text();
  }
}
