<div class="login-container">

  <div class="error-msg" *ngIf="errorMsg">{{errorMsg}}</div>
  <div class="ok-msg" *ngIf="responseMsg">{{responseMsg}}</div>

  <button mat-raised-button id="google"> Login with Google</button>

  <span class="or-divider">or</span>

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginWithEmail()">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email"
             placeholder="Email"
             [formControl]="email">
      <mat-icon matSuffix>mail</mat-icon>
      <mat-error *ngIf="email.hasError('required')">Email is <strong>required</strong></mat-error>
      <mat-error *ngIf="email.hasError('email')">Email is <strong>badly formatted</strong></mat-error>
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput
             [type]="hidePassword ? 'password' : 'text'"
             placeholder="Password"
             [formControl]="password">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="password.hasError('required')">Password is <strong>required</strong></mat-error>
    </mat-form-field>

    <div class="login-actions">
      <mat-checkbox class="example-margin" [(formControl)]="rememberMe">Remember me</mat-checkbox>
      <button mat-raised-button color="accent" type="submit">login</button>
    </div>

  </form>

  <mat-expansion-panel class="forgot-actions">
    <mat-expansion-panel-header>
      <mat-panel-description>Forgot password?</mat-panel-description>
    </mat-expansion-panel-header>

    <form class="forgot-password" (ngSubmit)="forgotPassword()">
      <mat-form-field color="accent" floatLabel="never" style="width: 100%;">
        <input matInput type="email"
               placeholder="Email"
               [formControl]="forgotEmail">
        <mat-error *ngIf="forgotEmail.hasError('required')">Email is <strong>required</strong></mat-error>
        <mat-error *ngIf="forgotEmail.hasError('email')">Email is <strong>badly formatted</strong></mat-error>
      </mat-form-field>
      <button mat-button color="accent" type="submit">send</button>
    </form>
  </mat-expansion-panel>
</div>
