<section class="login-section" id="loginContainer">

  <div class="error-msg" *ngIf="errorMsg" [@slideFromTop]>{{errorMsg}}</div>
  <div class="ok-msg" *ngIf="responseMsg" [@slideFromTop]>{{responseMsg}}</div>

  <!-- LOGIN CONTAINER -->
  <div *ngIf="!showForgotPassword"
       [@slideFromRight]
       class="login-container">

    <div class="social-login">
      <button mat-raised-button id="google">Login with Google</button>
    </div>

    <!-- EMAIL / PASSWORD FORM -->
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginWithEmail()">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email"
               placeholder="Email"
               [formControl]="email">
        <mat-icon class="login-icon"
                  matSuffix
                  aria-label="Email">
          mail
        </mat-icon>
        <mat-error *ngIf="email.hasError('required')">Email is <strong>required</strong></mat-error>
        <mat-error *ngIf="email.hasError('email')">Email is <strong>badly formatted</strong></mat-error>
      </mat-form-field>

      <mat-form-field color="accent" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
               [type]="hidePassword ? 'password' : 'text'"
               placeholder="Password"
               [formControl]="password">
        <mat-icon class="login-icon"
                  matSuffix
                  aria-label="Password visibility"
                  (click)="hidePassword = !hidePassword">
          {{hidePassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="password.hasError('required')">Password is <strong>required</strong></mat-error>
      </mat-form-field>

      <div class="login-actions">
        <mat-checkbox style="margin-top: 8px;"
                      [(formControl)]="rememberMe">
          Remember me
        </mat-checkbox>
        <button mat-raised-button color="accent" type="submit">login</button>
      </div>

    </form>
    <a mat-button
       class="width-100"
       style="text-align: left"
       (click)="showForgotPassword = true">
      Forgot password?
    </a>
  </div>

  <!-- FORGOT PASSWORD -->
  <div class="forgot-password" *ngIf="showForgotPassword" [@slideFromRight]>

    <form class="forgot-form" (ngSubmit)="forgotPassword()">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email"
               placeholder="Email"
               [formControl]="forgotEmail">
        <mat-error *ngIf="forgotEmail.hasError('required')">Email is <strong>required</strong></mat-error>
        <mat-error *ngIf="forgotEmail.hasError('email')">Email is <strong>badly formatted</strong></mat-error>
      </mat-form-field>
      <button mat-button color="accent" type="submit" class="width-100">send</button>
    </form>

    <a mat-button
       class="width-100"
       (click)="showForgotPassword = false"
       *ngIf="showForgotPassword">
      Cancel
    </a>
  </div>

</section>
