@import '../../../shared/variables';
@import '../../../shared/mixins';

.login-section {
  display: flex;
  flex-direction: column;
  button {
    outline: none;
    @include upper-text();
    @include fs-small-X-normal();
  }
  @include fs-small-X-normal();
}

.social-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $hover_color;
  padding: $margin .5*$margin;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.social-login, .login-form {
  padding: $margin .5*$margin;
  @media #{$gt-md_size} {
    padding: $margin;
  }
}

#google {
  padding: .5*$margin 0 .5*$margin .5*$margin;
  background: url('../../../../assets/icons/google.svg') no-repeat 15px;
  background-size: 36px;
  /deep/ .mat-button-wrapper {
    padding-left: 30px;
    padding-right: 24px;
    margin-left: 24px;
  }
}

.login-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: .5*$margin 0;
  mat-checkbox {
    color: $text_secondary;
    font-size: $font-small;
  }
}

.forgot-password {
  .forgot-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: $margin;
  }
}
