<div class="register-container" id="registerContainer">

  <h4 class="register-text">{{ 'register-header' | translate}}</h4>

  <div class="error-msg" *ngIf="errorMsg">{{errorMsg | translate}}</div>
  <div class="ok-msg" *ngIf="responseMsg">{{responseMsg | translate}}</div>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="register-form">

      <!-- DISPLAY NAME-->
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ 'register-display-name-label' | translate}}</mat-label>
        <input type="text"
               matInput
               [placeholder]="'register-display-name-placeholder' | translate"
               [formControl]="displayName">
        <mat-icon matSuffix class="color-secondary">account_circle</mat-icon>
        <mat-error *ngIf="displayName.hasError('required')"
                   [innerHTML]="'register-display-name-error-required' | translate">
        </mat-error>
      </mat-form-field>

      <!-- EMAIL -->
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ 'login-email-label' | translate}}</mat-label>
        <input type="email" matInput [placeholder]="'login-email-placeholder' | translate" [formControl]="email">
        <mat-icon matSuffix class="color-secondary">mail</mat-icon>
        <mat-error *ngIf="email.hasError('required')"
                   [innerHTML]="'login-email-error-required' | translate"></mat-error>
        <mat-error *ngIf="email.hasError('email')" [innerHTML]="'login-email-error-format' | translate"></mat-error>
      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ 'login-password-label' | translate}}</mat-label>
        <input matInput
               [type]="hidePassword ? 'password' : 'text'"
               [placeholder]="'login-password-placeholder' | translate"
               [formControl]="password">
        <mat-icon matSuffix
                  class="color-secondary"
                  (click)="hidePassword = !hidePassword">
          {{hidePassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="password.hasError('required')"
                   [innerHTML]="'login-password-error-required' | translate">
        </mat-error>
      </mat-form-field>

      <!-- CONFIRM PASSWORD -->
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ 'register-confirm-password-label' | translate}}</mat-label>
        <input matInput
               [type]="hidePassword ? 'password' : 'text'"
               [placeholder]="'register-confirm-password-placeholder' | translate"
               [formControl]="confirmPassword"
               appCompare="password">
        <mat-icon matSuffix
                  class="color-secondary"
                  (click)="hidePassword = !hidePassword">
          {{hidePassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="confirmPassword.hasError('required')"
                   [innerHTML]="'login-password-error-required' | translate">
        </mat-error>
        <mat-error *ngIf="confirmPassword.hasError('compare')">
          {{ 'register-confirm-password-error-compare' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- POLICIES -->
      <div class="policies">
        <mat-checkbox style="margin-top: 8px;"
                      [(formControl)]="confirmPolicies">
          {{ 'confirm-policies' | translate}}
        </mat-checkbox>
        <span class="confirm-error"
              *ngIf="!confirmPoliciesAccepted" [innerHTML]="'confirm-policies-required' | translate">
        </span>
      </div>

    </div>

    <div class="d-flex-end">
      <button mat-raised-button
              id="registerButton"
              color="accent"
              type="submit">
        {{ 'register-button' | translate }}
      </button>
    </div>

  </form>
  <div class="d-flex-end">
    <button mat-button (click)="navigateToPolicy()">{{ 'regulations' | translate}}</button>
  </div>
</div>
