@import '../../shared/variables';
@import '../../shared/mixins';

.section-tests-list {

}

.tests-search {
  padding: .5*$margin;
}

.single-test {
  padding: .5*$margin;
}

.chip-list {
  outline: none;
}

.my-card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  button {
    min-width: 48px;
    outline: none;
  }
  padding: .5*$margin;
}

.footer-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $text_secondary;
  font-size: $font-small;
  span {
    margin-left: 5px;
  }
}

.test-author {
  &:hover {
    color: cornflowerblue;
  }
}

.no-matches-icon {
  @include mat-icon-size(100px);
}
