@import '../../shared/variables';
@import '../../shared/mixins';

.section-tests-list {

}

.tests-search {
  padding: .5*$margin;
}

.single-test {
  padding: .5*$margin;
}

.my-subtitle {
  display: flex;
  font-size: $font-small;
  align-items: center;
}

.test-author {
  &:hover {
    color: cornflowerblue;
  }
}

.subtitle-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $text_secondary;
  span {
    margin-left: 5px;
  }
  margin-right: .5*$margin;
  &:last-child {
    margin-right: 0;
  }
}

.card-actions {
  padding-top: 2*$margin;
  display: flex;
  .chip-list {
    outline: none;
  }
}

.card-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: $hover_color;
  justify-content: space-between;
  button {
    min-width: 48px;
    outline: none;
  }
  padding: .5*$margin;
}

.go-test {
  display: flex;
  align-items: center;
}
