@import '../../../shared/variables';
@import '../../../shared/mixins';

.search-container {
  padding: .5*$margin;
  @media #{$gt-md_size} {
    padding: $margin;
  }
}

.search-container-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media #{$gt-xs_size} {
    flex-direction: row;
  }
}

.type-form {
  width: 100%;
  @media #{$gt-xs_size} {
    width: auto;
  }
}

.box-item-container {
  position: relative;
  width: 100%;
  column-gap: 0;
  column-count: 0;
  @media #{$gt-xs_size} {
    column-count: 2;
  }
  @media #{$gt-md_size} {
    column-count: 3;
  }
  @media #{$gt-lg_size} {
    column-count: 4;
  }
}

.test-container {
  margin: 20px 0;
  position: relative;
  column-count: 4;
  column-gap: 0;
  width: 100%;
}

.test-box {
  padding: .5*$margin;
  color: $text_secondary;
  border-radius: 20px 0 20px 0;
  //width: 255px;
  //height: 161px;

  margin: 12px;
  display: inline-block;
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  width: calc(100% - 12px);
  @include box_shadow;
}
