<section class="section-create">

  <div class="container">

    <div class="row justify-content-md-center">

      <div class="col-md-auto">

        <mat-card>

          <div class="create-header">
            <mat-icon class="icon" aria-label="Create icon" color="accent">tag_faces</mat-icon>
            <span class="message">Let's create a new test! </span>
          </div>

          <form class="new-test-form" (ngSubmit)="saveTest()">

            <app-test-name [(testName)]="newTest.name"
                           [appearance]="'outline'"
                           [width100]="true"></app-test-name>

            <app-test-tags [(testTags)]="newTest.tags"
                           [checkError]="checkTags"
                           [appearance]="'outline'"
                           [width100]="true">
            </app-test-tags>

            <app-test-desc [(testDesc)]="newTest.desc"
                           [appearance]="'outline'"
                           [width100]="true"></app-test-desc>

            <div class="details">
              <app-test-create-date [testCreateDate]="newTest.createDate"
                                    [appearance]="'outline'"
                                    [disabled]="true">
              </app-test-create-date>

              <app-test-visibility [(testVisibility)]="newTest.isPublic"
                                   [tooltip]="'Private option is unavailable at this moment'"
                                   [disabled]="true">
              </app-test-visibility>
            </div>

            <button mat-button color="accent" type="submit">save</button>
          </form>

        </mat-card>

      </div> <!-- /col-md-auto -->
    </div> <!-- /row -->
  </div> <!-- /container -->
</section>
