@import '../../shared/variables';
@import '../../shared/mixins';

button {
  @include upper-text();
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: .25*$margin 0;
  font-size: 1.2*$font-normal;
  outline: none;
}

.create-card {
  @include fs-small-X-normal();
  border-radius: $border-radius;
  padding-top: $margin;
}

.details {
  padding-bottom: 2*$margin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @media #{$gt-sm_size} {
    flex-direction: row;
  }
  .detail {
    width: 100%;
    @media #{$gt-sm_size} {
      width: auto;
    }
  }
}

