<mat-list>
  <mat-list-item class="my-list-item"
                 (click)="exportToFile()">
    <mat-icon mat-list-icon>arrow_downward</mat-icon>
    <h4 mat-line>Export</h4>
    <p mat-line>Export test exercises to a file</p>
  </mat-list-item>

  <mat-list-item class="my-list-item"
                 (click)="navigateToImport()"
                 *ngIf="auth.currentUserId === test.authorId">
    <mat-icon mat-list-icon>arrow_upward</mat-icon>
    <h4 mat-line>Import</h4>
    <p mat-line>Import exercises to Your test</p>
  </mat-list-item>

  <mat-list-item class="my-list-item"
                 *ngIf="auth.currentUserId === test.authorId">
    <mat-icon mat-list-icon>delete</mat-icon>
    <h4 mat-line>Delete</h4>
    <p mat-line><strong>Be careful, it's permanent</strong></p>
  </mat-list-item>
</mat-list>
