@import '../../../shared/mixins';
@import '../../../shared/variables';

.no-exercises {
  text-align: center;
  margin: 2*$margin .5*$margin;
  color: $text_secondary;
}

.add-exercise {
  width: 100%;
  height: 48px;
  text-transform: uppercase;
  outline: none;
}

.search-form {
  width: 100%;
}

.exercise-list-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
