@import '../../shared/variables';
@import '../../shared/mixins';

.section-auth {
  overflow: hidden;
}

.mat-dialog-content {
  max-height: 90vh;
}

/deep/ .mat-dialog-container {
  padding: 0;
  margin: 0;
  height: auto;
}

/deep/ .mat-tab-label {
  width: 50%;
}

