@import '../../shared/variables';
@import '../../shared/mixins';

.section-auth {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: -$margin;
}

/deep/ .mat-dialog-content {
  padding: 0;
  margin: 0;
}

mat-card {
  padding: 0;
}

/deep/ .mat-tab-label {
  width: 50%;
}

/deep/ mat-tab {
  min-width: 545px;
}

.tabs-container {
  //@media #{$gt-sm_size} {
  //  width: 45%;
  //}
  //@media #{$gt-lg_size} {
  //  width: 30%;
  //}
  display: flex;
  flex-direction: column;
}
