<section class="section-padding">

  <div class="row">

    <div class="col-12 col-md-6"
         [style.color]="appSettings.currentTheme.textColor">
      <div class="sub-title-text">
        <h3 class="my-title" [innerHTML]="'settings-header' | translate"></h3>
        <p class="my-sub-title">{{ 'settings-paragraph' | translate }}</p>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <mat-card class="card-radius">
        <div class="app-setting">
          <h5 class="paragraph-font">{{ 'language' | translate }}</h5>
          <div class="app-settings-select">
            <span>{{appSettings.currentLang.toUpperCase()}}</span>
            <button mat-icon-button [matMenuTriggerFor]="languageMenu" color="accent">
              <mat-icon aria-label="Language">language</mat-icon>
            </button>
          </div>
        </div>

        <div class="app-setting">
          <h5 class="paragraph-font">{{ 'app-theme' | translate }}</h5>
          <div class="app-settings-select">
            <span>{{appSettings.currentTheme.label | translate}}</span>
            <button mat-icon-button [matMenuTriggerFor]="themeMenu" color="accent">
              <mat-icon aria-label="Brush">brush</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>

  </div>
</section>

<!-- THEME MENU-->
<mat-menu #themeMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item *ngFor="let theme of themes" (click)="changeTheme(theme)">
      <mat-icon [style.color]="theme.primary">brightness_1</mat-icon>
      <span>{{theme.label | translate}}</span>
    </button>
  </ng-template>
</mat-menu>

<!-- LANGUAGE MENU-->
<mat-menu #languageMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item *ngFor="let lang of languages" (click)="changeLanguage(lang)">
      <span>{{lang.toUpperCase()}}</span>
    </button>
  </ng-template>
</mat-menu>
