<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               mode="push">

    <nav class="my-nav">
      <mat-toolbar color="primary" class="nav-header">
        <button mat-button style="height: 0; position: absolute;"></button> <!-- 'absorbs' the behavior -->
        <button mat-icon-button routerLink="dashboard" (click)="drawer.close()">
          <mat-icon aria-label="Home icon">dashboard</mat-icon>
        </button>
        <h1 (click)="drawer.close()"><a routerLink="dashboard" class="app-name">E-Testo</a></h1>
      </mat-toolbar>
      <button mat-button style="height: 0; position: absolute;"></button>

      <mat-list class="my-list">
        <h3 mat-subheader>General</h3>
        <mat-list-item *ngFor="let link of generalLinks"
                       [routerLink]="link.path"
                       class="list-item" (click)="drawer.close()">
          <mat-icon matListIcon>{{link.icon}}</mat-icon>
          <h3 matLine>{{link.label}}</h3>
        </mat-list-item>

        <mat-divider></mat-divider>

        <h3 mat-subheader>Yours</h3>
        <mat-list-item *ngFor="let link of privateLinks"
                       [routerLink]="link.path"
                       class="list-item" (click)="drawer.close()">
          <mat-icon matListIcon>{{link.icon}}</mat-icon>
          <h3 matLine>{{link.label}}</h3>
        </mat-list-item>

        <div class="my-divider-stretch"></div>
        <mat-divider class=""></mat-divider>

        <h3 mat-subheader>Others</h3>
        <mat-list-item class="list-item" (click)="drawer.close();">
          <mat-icon matListIcon>contact_support</mat-icon>
          <h3 matLine>Contact</h3>
        </mat-list-item>
        <mat-list-item class="list-item" (click)="drawer.close(); openSettingsDialog()">
          <mat-icon matListIcon>settings</mat-icon>
          <h3 matLine>Settings</h3>
        </mat-list-item>

      </mat-list>


    </nav> <!-- /my-nav -->

  </mat-sidenav>

  <mat-sidenav-content>

    <app-header [drawer]="drawer" [isSmallScreen]="isSmallScreen"></app-header>

    <main class="main-content" [@routerTransition]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
