<section class="section-main">

  <mat-drawer-container (backdropClick)="drawer.close()">

    <mat-drawer [disableClose]="true" #drawer [mode]="isSmallScreen ? 'over' : 'side'" [opened]="!isSmallScreen">

      <div class="drawer-content">
        <button mat-button style="height: 0; position: absolute;"></button> <!-- 'absorbs' the behavior -->
        <div class="topbar">
          <app-top-bar></app-top-bar>
          <div class="topbar-content">
            <div class="test-actions">
              <button mat-button id="search-button">
                <mat-icon aria-label="Search icon">search</mat-icon>
                <span>Search</span>
              </button>
              <button mat-button routerLink="create">
                <mat-icon aria-label="Create icon">add</mat-icon>
                <span>Create</span>
              </button>
            </div>

            <div class="topbar-actions">
              <button mat-button routerLink="/tests-list">Browse tests</button>
              <button mat-button>Your tests</button>
            </div>

          </div>

        </div>


        <div class="footer">
          <button mat-button>Contact</button>
          <button mat-button (click)="openDialog()">Settings</button>
        </div>

      </div>

    </mat-drawer>

    <div cdkScrollable>

      <app-header [drawer]="drawer"
                  [isSmallScreen]="isSmallScreen"
      ></app-header>

      <div class="main-content">
        <router-outlet></router-outlet>
      </div>

    </div>
  </mat-drawer-container>

</section>
