@import '../../shared/variables';
@import '../../shared/mixins';

.drawer-container {
  height: 100vh;
}

.drawer {
  overflow-x: hidden;
  width: 250px;
  @include box_shadow();
}

.app-name {
  text-decoration: none;
}

.nav-login {
  padding: 2*$margin .5*$margin;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#loginButton {
  @include size(100px, 100px);
  border-radius: 50%;
  @include upper-text();
  outline: none;
}

.user-logged {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $text_secondary;
}

.main-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.my-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-header {
  padding: 0;
  max-height: 48px;
  min-height: 48px;
  border-bottom: 1px solid $hover_color;
  .header-logo {
    display: flex;
    align-items: center;
  }
  button {
    outline: none;
  }
}

.my-list {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.list-item {
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: $hover_color;
  }
}

.my-divider-stretch {
  flex-grow: 1;
}

.contact-settings {
  display: flex;
  color: $text_secondary;
}

.other-element {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}
