<section class="section-main">

  <app-header [drawer]="drawer"></app-header>

  <mat-drawer-container (backdropClick)="drawer.close()">

    <mat-drawer [disableClose]="true" #drawer [mode]="isSmallScreen ? 'over' : 'side'" [opened]="!isSmallScreen">

      <div class="drawer-content">
        <button routerLink="/tests-list">ALL TESTS</button>
      </div>

    </mat-drawer>

    <div class="main-content">
      <!--<app-test></app-test>-->
      <!--<app-tests-list></app-tests-list>-->
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>

</section>
