@import '../../shared/variables';
@import '../../shared/mixins';

.sidenav-container {
  height: 100vh;
}

.sidenav {
  overflow-x: hidden;
  min-width: 200px;
  @media #{$gt-sm_size} {
    min-width: 250px;
  }
  @include box_shadow();
}

.app-name {
  text-decoration: none;
  color: $text-white;
}

.main-content {
  height: 100%;
  width: 100%;
  //position: absolute;
  //left: 0;
  //right: 0;
  //bottom: 0;
  //overflow-y: hidden;
  //overflow-x: hidden;
  //@media #{$gt-xs_size} {
  //  top: 64px;
  //}
}

.my-nav {
  height: 100%;
}

.nav-header {
  @include box_shadow;
}

.my-list {
  display: flex;
  flex-direction: column;
  height: calc(100% - 72px);
}

.list-item {
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: $hover_color;
  }
}

.my-divider-stretch {
  flex-grow: 1;
}
