<section class="section-display-exercises" *ngIf="exerciseList">

  <div class="exercises-header">
    <mat-form-field appearance="outline" class="one-field">
      <mat-label>Search exercise</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchText"
             placeholder="Search exercise"
             [disabled]="exerciseList.length === 0">
    </mat-form-field>

    <div class="one-field">

      <mat-form-field appearance="outline" class="one-field">
        <mat-label>Sort by</mat-label>
        <mat-select placeholder="Sort by"
                    [(ngModel)]="selectedOption"
                    (selectionChange)="changeSortOption()"
                    [disabled]="exerciseList.length === 0">
          <mat-option *ngFor="let option of sortOption" [value]="option">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="!editExercisesMode" class="exercises-header-button">
        <button mat-icon-button
                *ngIf="!expandAllExercises"
                (click)="expandAllExercises = true">
          <mat-icon aria-label="Expand all">unfold_more</mat-icon>
        </button>
        <button mat-icon-button
                *ngIf="expandAllExercises"
                (click)="expandAllExercises = false">
          <mat-icon aria-label="Collapse all">unfold_less</mat-icon>
        </button>
      </div>
      <button mat-mini-fab class="exercises-header-button" (click)="addExercise()">
        <mat-icon aria-label="Expand all">add</mat-icon>
      </button>

    </div>
  </div>

  <div [@listStagger]='exerciseList.length'>
    <div *ngFor="let exercise of exerciseList | searchExercise : searchText; let i=index;  trackBy: identifier">
      <app-display-one-exercise
        [exercise]="exercise"
        [editMode]="editExercisesMode || (addNewExercise && i === exerciseList.length - 1)"
        [isNew]="addNewExercise"
        [testId]="testId"
        [isAuthor]="auth.currentUserId === authorId"
        [number]="i + 1"
        [expanded]="expandAllExercises"
        (addedExercise)="handleAddedExercise($event)">
      </app-display-one-exercise>
    </div>
  </div>

  <div class="change-button" *ngIf="exerciseList.length > 4 && !searchText && !addNewExercise">
    <button mat-button color="accent" (click)="addExercise()">
      <mat-icon aria-label="Add exercise">add</mat-icon>
      <span>add exercise</span>
    </button>
  </div>

  <div *ngIf="exerciseList.length > 0 && (exerciseList | searchExercise: searchText).length === 0"
       class="no-matches">
    <mat-icon aria-label="No matches icon" class="no-matches-icon">sentiment_very_dissatisfied</mat-icon>
    <p><span class="text">No matches</span> for <strong>{{searchText}}</strong></p>
    <button mat-stroked-button color="accent" (click)="searchText = ''">clear input</button>
  </div>

</section>
