@import '../../shared/variables';
@import '../../shared/mixins';
@import '~@angular/material/theming';

.section-display-exercises {
  margin: $margin 0;
}

.exercises-header {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  @media #{$gt-xs_size} {
    flex-direction: row;
  }

  .one-field {
    &:first-child {
      width: 100%;
    }
    &:last-child {
      display: flex;
      align-items: center;
      width: 100%;
      @media #{$gt-xs_size} {
        width: auto;
      }
    }
  }
}

.change-button {
  display: flex;
  justify-content: center;
  padding: $margin;
  button {
    @include upper-text();
  }
}

.exercises-header-button {
  margin-top: -22px;
  button {
    outline: none;
  }
}
