<section class="section-display-exercises" *ngIf="copyExerciseList" id="sectionExercise">

  <!-- EXERCISES HEADER -->
  <div class="exercises-header">

    <mat-form-field *ngIf="searchInputFocused"
                    [@slideFromRightToRight]
                    appearance="legacy"
                    color="accent"
                    class="width-100"
                    floatLabel="never">
      <mat-label>Search exercise</mat-label>
      <input matInput [(ngModel)]="searchText"
             placeholder="Search exercise">
      <button mat-button matSuffix
              mat-icon-button
              aria-label="Close"
              (click)="searchInputFocused = false; searchText = ''">
        <mat-icon aria-label="Close">close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-icon-button
            [matTooltip]="'Search'"
            *ngIf="!searchInputFocused"
            [disabled]="copyExerciseList.length === 0"
            (click)="searchInputFocused = true">
      <mat-icon aria-label="Search">search</mat-icon>
    </button>

    <button mat-mini-fab
            style="margin-left: 6px;"
            [matTooltip]="'Add exercise'"
            *ngIf="auth.currentUserId === authorId"
            (click)="addExercise()">
      <mat-icon aria-label="Add">add</mat-icon>
    </button>

  </div> <!-- /EXERCISES HEADER -->

  <div *ngFor="let exercise of copyExerciseList | searchExercise : searchText; let i=index; trackBy: identifier">
    <app-display-one-exercise [exercise]="exercise"
                              [editMode]="!exercise.id"
                              [testId]="testId"
                              [importMode]="false"
                              [isAuthor]="auth.currentUserId === authorId"
                              [number]="i + 1"
                              (exerciseDeleted)="handleExerciseDeleted($event)"
                              (exerciseCanceled)="handleExerciseCanceled($event)">
    </app-display-one-exercise>
  </div>

  <!-- NO MATCHES -->
  <div *ngIf="copyExerciseList.length > 0 && (copyExerciseList | searchExercise: searchText).length === 0"
       class="no-matches">
    <mat-icon aria-label="No matches icon" class="no-matches-icon">sentiment_very_dissatisfied</mat-icon>
    <p><span class="text">No matches</span> for <strong>{{searchText}}</strong></p>
    <button mat-stroked-button color="accent" (click)="searchText = ''">clear input</button>
  </div>

  <div class="exercise-actions">
    <button mat-raised-button
            *ngIf="auth.currentUserId === authorId && copyExerciseList.length > 5 && searchText === ''"
            color="accent"
            id="newExerciseButton"
            (click)="addExercise()">
      <span>Add new exercise</span>
    </button>
  </div>
</section>
