@import '../../shared/variables';
@import '../../shared/mixins';

.section-display-exercises {
  margin: $margin 0;
}

.exercises-header {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  @media #{$gt-xs_size} {
    flex-direction: row;
  }

  .one-field {
    margin-right: .5*$margin;
    &:first-child {
      width: 100%;
    }
    &:last-child {
      margin-right: 0;
      display: flex;
      align-items: center;
      width: 100%;
      @media #{$gt-xs_size} {
        width: auto;
      }
    }
  }
}

.change-button {
  display: flex;
  justify-content: center;
  padding: $margin;
  button {
    @include upper-text();
  }
}

.expandButton {
  margin-top: -22px;
  outline: none;
}
