@import '../../shared/variables';
@import '../../shared/mixins';

.button-fixed {
  position: fixed;
  top: 8px;
  right: .5*$margin;
  z-index: 2;
  @media #{$gt-lg_size} {
    right: $margin;
  }
}

mat-vertical-stepper {
  background: transparent !important;
}

.stepper-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
