@import '../../variables';
@import '../../mixins';

.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  @include fs-small-X-normal();
}

.my-breadcrumb {
  display: flex;
  align-items: center;
  .breadcrumb-item {
    display: flex;
    align-items: center;
  }
  .breadcrumb-icon {
    margin: 0 5px;
    @include mat-icon-size(16px)
  }
  a {
    color: currentColor;
  }
}

.current-url {
  font-size: 1.1*$font-normal;
  padding: .25*$margin .5*$margin;
  border-radius: $border-radius;
  background-color: $hover_color;
}

#premiumButton {
  outline: none;
  border-radius: 5px;
  font-size: $font-small;
  letter-spacing: 1px;
  padding: 0 .5*$margin;
  min-width: 0;
}
