<section class="section-padding">
  <mat-card class="card-radius">

    <div class="icon-div">
      <mat-icon aria-label="Smartphone" class="device-icon">smartphone</mat-icon>
      <mat-icon aria-label="Laptop" class="device-icon">laptop</mat-icon>
      <mat-icon aria-label="Tablet" class="device-icon">tablet</mat-icon>
    </div>

    <div class="sys-content">
      <h3 class="my-title text-center">{{ 'app-download-mobile' | translate }}</h3>
      <p class="my-sub-title" [innerHTML]="'app-download-mobile-instruction-one' | translate"></p>
      <p class="my-sub-title" [innerHTML]="'app-download-mobile-instruction-two' | translate"></p>
      <p class="my-sub-title" [innerHTML]="'app-download-mobile-instruction-three' | translate"></p>
      <p class="my-sub-title" [innerHTML]="'app-download-mobile-instruction-four' | translate"></p>
    </div>

    <div class="sys-content">
      <h3 class="my-title text-center">Windows</h3>
      <p class="my-sub-title" [innerHTML]="'app-download-windows-instruction-one' | translate"></p>
      <p class="my-sub-title" [innerHTML]="'app-download-windows-instruction-two' | translate"></p>
      <div class="download-buttons">
        <button mat-raised-button color="accent" (click)="downloadWin10()">{{ 'app-download-win-store' | translate}}
        </button>
        <button mat-raised-button color="accent" (click)="downloadWinOlder()">{{ 'app-download-win-launch' | translate}}
        </button>
      </div>
    </div>

    <div class="sys-content">
      <h3 class="my-title text-center">MacOS / Linux</h3>
      <p class="my-sub-title" [innerHTML]="'app-download-mac-linux-instruction' | translate"></p>
      <div class="download-buttons">
        <button mat-raised-button color="accent" (click)="downloadMacOS()">MacOS</button>
        <button mat-raised-button color="accent" (click)="downloadMacOS()">Linux</button>
      </div>
    </div>
  </mat-card>
</section>
