@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $margin;
}

.device-icon {
  color: $text_secondary;
  margin: 24px 6px;
  @include mat-icon-size(72px);
  @media #{$gt-sm_size} {
    margin: 48px 24px;
    @include mat-icon-size(102px);
  }
}

.tab-content {
  padding: $margin;
}
