@import '../../../shared/variables';
@import '../../../shared/mixins';

button {
  outline: none;
  @include upper-text();
  @include fs-small-X-normal();
}

.section-test-config {
  padding: 0 $margin;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.config-header {
  margin: 0 -24px $margin -24px;
  padding-right: $margin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $hover_color;
  color: $text_secondary;
}

.config-row-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keyboard-shortcut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5*$margin;

  .shortcut code {
    background-color: $hover_color;
    padding: 5px;
  }
}
