@import '../../../shared/variables';
@import '../../../shared/mixins';

.test-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3*$margin 0;
  .one-setting {
    width: 100%;
    @media #{$gt-sm_size} {
      width: 60%;
    }
    @media #{$gt-md_size} {
      width: 50%;
    }
    @media #{$gt-lg_size} {
      width: 60%;
    }
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}

button {
  margin-top: $margin;
  outline: none;
  @include upper-text();
}
