<section class="section-padding">

  <div class="row">

    <div class="col-12 col-md-6"
         [style.color]="appSettings.currentTheme.textColor">
      <div class="sub-title-text">
        <h3 class="my-title">Change <strong>e-testo</strong> settings</h3>
        <p class="my-sub-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <mat-card class="settings-card">
        <div class="app-setting">
          <div class="app-setting-header">
            <h5 class="paragraph-font">Language</h5>
            <div class="app-settings-select">
              <span>ENG</span>
              <button mat-icon-button [matMenuTriggerFor]="languageMenu" color="accent">
                <mat-icon aria-label="Language">language</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="app-setting">
          <div class="app-setting-header">
            <h5 class="paragraph-font">App theme</h5>
            <div class="app-settings-select">
              <span>{{appSettings.currentTheme.label}}</span>
              <button mat-icon-button [matMenuTriggerFor]="themeMenu" color="accent">
                <mat-icon aria-label="Brush">brush</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

  </div>
</section>

<!-- THEME MENU-->
<mat-menu #themeMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item *ngFor="let theme of themes" (click)="changeTheme(theme)">
      <mat-icon [style.color]="theme.primary">brightness_1</mat-icon>
      <span>{{theme.label}}</span>
    </button>
  </ng-template>
</mat-menu>

<!-- LANGUAGE MENU-->
<mat-menu #languageMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item *ngFor="let lang of languages">
      <span>{{lang}}</span>
    </button>
  </ng-template>
</mat-menu>
