@import '../../shared/variables';
@import '../../shared/mixins';

button {
  outline: none;
}

.settings-card {
  border-radius: $border-radius;
}

.app-setting {
  @media #{$gt-sm_size} {
    min-width: 400px;
  }
  margin-top: $margin;
  display: flex;
  flex-direction: column;

  .app-setting-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .app-settings-select {
    display: flex;
    align-items: center;
  }
}

.color-box {
  @include size(24px, 24px);
  background-color: red;
}
