<section class="section-app-settings">
  <button mat-button style="height: 0; position: absolute;"></button> <!-- 'absorbs' the behavior -->

  <div class="app-theme">
    <p class="header-line-right">App theme</p>
    <mat-form-field floatLabel="never">
      <mat-select placeholder="Color theme"
                  (selectionChange)="setTheme($event)">
        <mat-option *ngFor="let t of themes" [value]="t">
          {{t.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--<div class="app-theme-options">-->
      <!--<button mat-raised-button (click)="setTheme('dark-theme')" id="dark-button">Dark</button>-->
      <!--<button mat-raised-button (click)="setTheme('light-theme')" id="light-button">Light</button>-->
    <!--</div>-->
  </div>
</section>
