<mat-form-field [appearance]="appearance"
                [color]="color"
                [ngClass]="{'width-100': width100}"
                [style.margin]="margins">
  <mat-label>Test name</mat-label>
  <input matInput placeholder="Test name"
         [formControl]="testNameControl"
         (keyup)="setValue(testNameControl.value)">
  <mat-hint>Recognizable names are the best!</mat-hint>
  <mat-error *ngIf="testNameControl.invalid">Test name is <strong>required</strong></mat-error>

</mat-form-field>
