@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/mixins';

button {
  outline: none;
  @include upper-text();
  @include fs-small-X-normal();
}

.section-test-config {
  padding-bottom: .5*$margin;
  display: flex;
  flex-direction: column;
}

.config-header {
  padding-right: .5*$margin;
  @media #{$gt-md_size} {
    padding-right: $margin;
  }
  margin-bottom: $margin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $hover_color;
  color: $text_secondary;
}

.config-row {
  padding: 0 .5*$margin;
  @media #{$gt-md_size} {
    padding: 0 $margin;
  }
}

.config-row-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keyboard-shortcut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5*$margin;

  .shortcut code {
    background-color: $hover_color;
    padding: 5px;
  }
}
