<!-- TEST EXERCISES -->
<mat-card class="my-card">

  <!-- EXERCISE HEADER -->
  <div class="exercises-list-header">

    <!-- QUESTION -->
    <div class="exercise-question" (click)="changeAnswersVisibility()">

      <!-- NOT EDITABLE QUESTION -->
      <div class="question_not-editable" *ngIf="!editMode">
        <span class="question-no">{{exercise.number}}.</span>
        <span>{{exercise.question}}</span>
      </div>

      <!-- EDITABLE QUESTION -->
      <mat-form-field color="accent" class="question_editable" *ngIf="editMode" floatLabel="never">
        <input matInput placeholder="Question" [(ngModel)]="exercise.question">
      </mat-form-field>

    </div>
    <!-- end QUESTION -->

    <!-- EXERCISE ACTION BUTTONS -->
    <button mat-icon-button *ngIf="editMode"
            (click)="stopEditExercise()"
            class="save-edit">
      <mat-icon aria-label="Done editing" style="color: #8BC34A;">check_circle</mat-icon>
    </button>
    <div *ngIf="!editMode" class="exercise-header-buttons">
      <button mat-icon-button (click)="startEditExercise()">
        <mat-icon aria-label="Edit exercise">edit</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="delete">
        <mat-icon aria-label="Delete icon">delete</mat-icon>
      </button>

      <!-- More menu -->
      <mat-menu #delete="matMenu" xPosition="before">
        <ng-template matMenuContent>
          <button mat-menu-item>
            <mat-icon aria-label="No icon">close</mat-icon>
            <span>NO</span>
          </button>
          <button mat-menu-item (click)="deleteOneExercise()">
            <mat-icon aria-label="Yes icon">done</mat-icon>
            <span>YES</span>
          </button>
        </ng-template>
      </mat-menu>
    </div>
  </div>
  <!-- end EXERCISE HEADER -->

  <!-- ANSWERS -->
  <div *ngIf="showAnswers" class="answers">
    <!-- NOT EDITABLE ANSWERS -->
    <div *ngIf="!editMode">
      <div *ngFor="let answer of exercise.answers; let j=index;"
           class="answer_not-editable"
           [ngClass]="{'correct-answer': exercise.correctAnswer === j}">
        <span class="answer-letter">{{getLetterFromAscii(j)}}</span>
        <span>{{answer}}</span>
      </div>
    </div>
    <!-- end NOT EDITABLE ANSWERS -->

    <!-- EDITABLE ANSWERS -->
    <div *ngIf="editMode" class="">
      <mat-radio-group class="correct-answer_editable" [(ngModel)]="exercise.correctAnswer">
        <mat-radio-button [value]="j"
                          *ngFor="let answer of exercise.answers; let j=index; trackBy: customTrackBy">
          <mat-form-field color="accent">
            <input matInput [placeholder]="'Answer ' + getLetterFromAscii(j)" [(ngModel)]="exercise.answers[j]">
          </mat-form-field>

          <button mat-icon-button (click)="deleteOneAnswer(exercise.answers, j)" *ngIf="j > 1">
            <mat-icon aria-label="Delete answer" style="color: #F44336">delete_outline</mat-icon>
          </button>

        </mat-radio-button>
      </mat-radio-group>

      <div style="display: flex; justify-content: center">
        <button mat-button (click)="exercise.answers.push('');">
          <mat-icon aria-label="Add answer">add</mat-icon>
        </button>
      </div>
    </div>
    <!-- end EDITABLE ANSWERS -->

  </div>
  <!-- end ANSWERS -->

</mat-card>
