<mat-form-field [appearance]="appearance"
                [color]="color"
                [ngClass]="{'width-100': width100}"
                [style.margin]="margins">
  <mat-label>{{ 'test-name-label' | translate }}</mat-label>
  <input matInput [placeholder]="'test-name-placeholder' | translate"
         [formControl]="testNameControl"
         (keyup)="setValue(testNameControl.value)">
  <mat-hint>{{ 'test-name-hint' | translate }}</mat-hint>
  <mat-error *ngIf="testNameControl.invalid">{{ 'test-name-error' | translate }}</mat-error>

</mat-form-field>
