<div class="sections">
  <mat-form-field color="accent">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let section of testCategories"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="removeSection(section)">
        {{section.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Sections"
        #sectionInput
        [formControl]="sectionCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="'false'"
        (matChipInputTokenEnd)="addManually($event)"
      />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addSelected($event)">
      <mat-option *ngFor="let section of filteredSections | async" [value]="section">
        {{ section.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
