<!--<nav mat-tab-nav-bar class="sub-nav" color="accent">-->
<!--<a mat-tab-link-->
<!--*ngFor="let link of examples"-->
<!--[routerLink]="link.path"-->
<!--routerLinkActive #rla="routerLinkActive"-->
<!--[active]="rla.isActive">-->
<!--<mat-icon *ngIf="!isSmallScreen" aria-label="Link icon" class="link-icon">{{link.icon}}</mat-icon>-->
<!--<span>{{link.label}}</span>-->
<!--</a>-->
<!--</nav>-->

<!--<router-outlet></router-outlet>-->

<section class="section-padding">
  <div class="row">
    <div class="col-12 col-md-7"
         [style.color]="appSettings.currentTheme.textColor">
      <div class="sub-title-text">
        <h3 class="my-title" [innerHTML]="'dashboard-header' | translate"></h3>
        <p class="my-sub-title">{{ 'create-paragraph' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="illustrations">
    <mat-card class="illustration tablet-landscape"></mat-card>
    <mat-card class="illustration phone-large"></mat-card>
  </div>

  <div class="dashboard-content_outer">
    <div class="promo-bg-one">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="content-title">
      <h3 class="my-title">Odkryj E-Testo teraz</h3>
    </div>

    <mat-card class="dashboard-content">

      <!-- LEARN -->
      <app-one-promo [headerText]="'Ucz się'"
                     [headerIcon]="'play_circle_filled'"
                     [paragraph]="'Uczenie się może być przyjemne. Rozwiązuj testy i powtarzaj swoją wiedzę'"
                     [imgUrl]="'assets/promo/learn.svg'"
                     [alt]="'Learn'">
      </app-one-promo>

      <!-- NEW TEST -->
      <app-one-promo [headerText]="'Twórz nowe testy'"
                     [headerIcon]="'add_circle_outline'"
                     [paragraph]="'W prosty i szybki sposób stwórz swój własny test'"
                     [imgUrl]="'assets/promo/create.svg'"
                     [alt]="'Create'"
                     [isBigIcon]="true">
        <button mat-raised-button>Stwórz test</button>
      </app-one-promo>

      <!-- SEARCH TEST -->
      <app-one-promo [headerText]="'Wyszukuj testy'"
                     [headerIcon]="'search'"
                     [paragraph]="'Sprawdzaj testy stworzone przez innych użytkowników i przekonaj się czy je rozwiążesz'"
                     [imgUrl]="'assets/promo/search.svg'"
                     [alt]="'Create'">
        <button mat-raised-button>Szukaj testy</button>
      </app-one-promo>

      <!-- TEST LEARN CONFIG -->
      <app-one-promo [headerText]="'Dostosuj test'"
                     [headerIcon]="'settings'"
                     [paragraph]="'Wybierz wygodne dla Ciebie ustawienia uczenia się'"
                     [imgUrl]="'assets/promo/test_config.svg'"
                     [alt]="'Settings'"
                     [isBigIcon]="true">
      </app-one-promo>

      <!-- IMPORT EXERCISES -->
      <app-one-promo [headerText]="'Importuj / eksportuj'"
                     [headerIcon]="'import_export'"
                     [paragraph]="'Skorzystaj z funkcji importu oraz eksportu by w szybki wczytać lub pobrać zadania'"
                     [imgUrl]="'assets/promo/import_export.svg'"
                     [alt]="'Import / eskport'">
        <span class="beta-paragraph"
              [style.background-color]="appSettings.currentTheme.accent"
              [style.color]="appSettings.currentTheme.textColor">
                beta
        </span>
      </app-one-promo>

      <!-- STARTED TEST -->
      <app-one-promo [headerText]="'Przeglądaj swój postęp'"
                     [headerIcon]="'school'"
                     [paragraph]="'Sprawdzaj rozpoczęte testy wraz z ich postępem'"
                     [imgUrl]="'assets/promo/study_sets.svg'"
                     [alt]="'Progress'"
                     [isBigIcon]="true">
      </app-one-promo>


      <!-- ALL DEVICES -->
      <div class="all-devices">

        <div class="devices-icons">
          <mat-icon aria-label="Smartphone" class="device-icon">smartphone</mat-icon>
          <mat-icon aria-label="Laptop" class="device-icon">laptop</mat-icon>
          <mat-icon aria-label="Tablet" class="device-icon">tablet</mat-icon>
        </div>

        <h5 class="my-title">Gdziekolwiek jesteś</h5>
        <p class="my-sub-title">Korzystaj z E-Testo gdziekolwiek jesteś, na jakimkolwiek urządzeniu</p>

        <div class="devices-img">
          <mat-card class="phone-portrait">
            <img alt="Phone" src="assets/promo/general_phone.svg">
          </mat-card>
          <mat-card class="phone-landscape">
            <img alt="Phone" src="assets/promo/general_landscape.svg">
          </mat-card>
        </div>
      </div>

      <!-- JOIN US-->
      <div class="join-us">
        login
      </div>
      <br><br><br><br><br>
      <br><br><br><br><br>
      <br><br><br><br><br>
      <br><br><br><br><br>
    </mat-card>
  </div>

</section>

