<!--<div class="carousel-container">-->
<!--<div class="header-line-right">popular</div>-->
<!--<app-tests-carousel [testList]="testList" [carouselId]="'popularCarousel'"></app-tests-carousel>-->
<!--</div>-->

<!--<div class="carousel-container">-->
<!--<div class="header-line-right">last added</div>-->
<!--<app-tests-carousel [testList]="testList" [carouselId]="'lastAddedCarousel'"></app-tests-carousel>-->
<!--</div>-->

<app-box-list [testList]="testList"></app-box-list>

<!--<div class="newest-boxes">-->

  <!--<mat-card class="newest-box">-->
    <!--<div class="newest-box-header">-->
      <!--<h3 class="paragraph-font">Recently added</h3>-->
      <!--<p class="sub-paragraph-font">Coś tam :V</p>-->
    <!--</div>-->
    <!--<div class="newest-box-content">-->
    <!--</div>-->
  <!--</mat-card>-->

  <!--<mat-card class="newest-box">-->
    <!--<div class="newest-box-header">-->
      <!--<h3 class="paragraph-font">Popular</h3>-->
      <!--<p class="sub-paragraph-font">Coś tam :V</p>-->
    <!--</div>-->
    <!--<div class="newest-box-content">-->

    <!--</div>-->
  <!--</mat-card>-->

  <!--<mat-card class="newest-box">-->
    <!--<div class="newest-box-header">-->
      <!--<h3 class="paragraph-font">New users</h3>-->
      <!--<p class="sub-paragraph-font">Coś tam :V</p>-->
    <!--</div>-->
    <!--<div class="newest-box-content">-->

    <!--</div>-->
  <!--</mat-card>-->

  <!--<mat-card class="newest-box">-->
    <!--&lt;!&ndash;<div class="newest-box-header">&ndash;&gt;-->
      <!--&lt;!&ndash;<h3 class="paragraph-font">Recently added</h3>&ndash;&gt;-->
      <!--&lt;!&ndash;<p class="sub-paragraph-font">Coś tam :V</p>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="newest-box-content">-->

    <!--</div>-->
  <!--</mat-card>-->


<!--</div>-->


<!--<div class="carousel-container">-->
  <!--<div class="header-line-right">Search</div>-->
  <!--<div class="container">-->
    <!--<app-tests-list *ngIf="testList" [testList]="testList"></app-tests-list>-->
  <!--</div>-->
<!--</div>-->

