@import '../../shared/variables';

.carousel-container {
  margin: .5*$margin;
  @media #{$gt-md_size} {
    margin: $margin;
  }
}

.newest-boxes {
  margin: .5*$margin;
  display: flex;
  flex-direction: column;
  @media #{$gt-md_size} {
    flex-direction: row;
    margin: $margin;
  }
}

.newest-box {
  box-shadow: none !important;
  border: 1px solid $hover_color;
  border-radius: 20px 0 20px 0;
  @media #{$gt-md_size} {
    width: 25%;
    margin-right: .5*$margin;
    &:last-child {
      margin-right: 0;
    }
  }
}
