<section class="section-margins" [style.color]="appSettings.currentTheme.textColor">

  <h3 class="my-title">Choose <strong>Your</strong> study set</h3>
  <p class="my-sub-title" style="margin-bottom: 48px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>

  <app-test-boxes [testList]="userTests"></app-test-boxes>
</section>
