@import '../../shared/variables';
@import '../../shared/mixins';

.tests-card {
  border-radius: $border-radius;
}

.tests-card-header {
  display: flex;
  flex-direction: column;
  @media #{$gt-sm_size} {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.sets-buttons-toggle {
  display: flex;
  justify-content: center;
  margin-top: $margin;
  @media #{$gt-sm_size} {
    margin-top: 0;
  }
}

.no-result-card {
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 450px;
  box-shadow: none !important;
}

.no-result-text {
  font-size: 1.5*$font-normal;
  margin: $margin 0;
}

.no-result-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{$gt-xs_size} {
    flex-direction: row;
  }
}

.go-search-button {
  //@include upper-text();
}
