<mat-toolbar class="app-header"
             *ngIf="headerValues.appHeaderVisibility"
             [style.height]="height + 'px'"
             [color]="'primary'"
             [style.background-image]="'linear-gradient(to right, '+
                appSettings?.currentTheme?.accent+', '+
                appSettings?.currentTheme?.primary +')'">

  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Dashboard">menu</mat-icon>
  </button>

  <div class="right-side" *ngIf="isUserLoaded">

    <button mat-raised-button
            color="accent"
            *ngIf="!user?.emailVerified"
            (click)="openAuthDialog()">
      Login
    </button>

    <button mat-button [matMenuTriggerFor]="accountMenu" *ngIf="user?.emailVerified">
      <mat-icon aria-label="Account">account_circle</mat-icon>
      <span style="padding-left: 12px;">{{user.displayName}}</span>
    </button>
    <!--<button mat-icon-button [matMenuTriggerFor]="moreMenu">-->
      <!--<mat-icon aria-label="Settings">more_vert</mat-icon>-->
    <!--</button>-->
  </div>

</mat-toolbar>

<!-- ACCOUNT MENU -->
<mat-menu #accountMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item>
      <mat-icon aria-label="Profile">person</mat-icon>
      <span>Profile</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="logout()">
      <mat-icon aria-label="Logout">power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </ng-template>
</mat-menu>

<!--&lt;!&ndash; MORE MENU &ndash;&gt;-->
<!--<mat-menu #moreMenu="matMenu">-->
  <!--<ng-template matMenuContent>-->
    <!--<button mat-menu-oneBox>-->
      <!--<mat-icon aria-label="Profile">info</mat-icon>-->
      <!--<span>About</span>-->
    <!--</button>-->

    <!--<button mat-menu-oneBox [routerLink]="ALL_ROUTES.APP_SETTINGS">-->
      <!--<mat-icon aria-label="Logout">settings</mat-icon>-->
      <!--<span>Settings</span>-->
    <!--</button>-->
  <!--</ng-template>-->
<!--</mat-menu>-->
