@import '../../shared/variables';

.app-footer {
  padding-top: 2*$margin;
  padding-bottom: $margin;
  border-top: 1px solid $hover_color;
  border-radius: 0;
  box-shadow: none !important;
}

.footer-list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  li {
    padding-top: .5*$margin;
  }
}

a {
  color: currentColor;
  opacity: .7;
  transition: opacity .25s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.app-info {
  margin-bottom: 2*$margin;
  @media #{$gt-sm_size} {
    margin-bottom: 0;
  }
}
