<div class="section-exercise">

  <div class="header">

    <span class="question">{{exercise.question}}</span>

  </div>


  <div class="answers-grid">

    <div class="box" *ngFor="let answer of exercise.answers; let i=index;">
      <button mat-raised-button
              id="answer-button-{{i}}"
              class="one-answer"
              (click)="checkAnswer(i)"
              [disabled]="isAnswerClicked">

        <!-- answer letters A, B, C, D -->
        <span *ngFor="let letter of answerLetters; let j=index;"
              class="answer-number">
          <span *ngIf="i===j" [ngClass]="{'answer-number_clicked':  isAnswerClicked}">
            {{letter}}
          </span>
        </span>

        <span>{{answer}}</span>
      </button>
    </div>

  </div>


</div>
