@import '../../shared/variables';
@import '../../shared/mixins';

.section-exercise {
  //height: 100%;
  width: 100%;
}

.header {
  text-align: center;
  padding: 3*$margin 0;
  @media #{$gt-md_size} {
    padding: 5*$margin 0;
  }
}

.question {
}

.answers-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media #{$gt-md_size} {
    flex-direction: row;
  }
}

.box {
  display: flex;
  margin: 5px 0;
  @media #{$gt-md_size} {
    margin: .5*$margin;

    justify-content: center;
    flex-basis: calc(50% - 24px);
    -webkit-flex-basis: calc(50% - 24px); /* Safari 6.1+ */
  }
}

.one-answer {
  width: 100%;
  min-height: 72px;
  font-size: $font-normal;
}

.answer-number {
  position: absolute;
  left: $margin;
  color: $accent;
}

.answer-number_clicked {
  color: white;
}
