<div class="section-exercise" [@slider]="thingState" (@slider.done)="handleDone($event)">

  <span class="question">{{exerciseWithOccurrences.exercise.question}}</span>

  <div class="answers-grid">

    <button mat-raised-button
            *ngFor="let answer of exerciseWithOccurrences.exercise.answers; let i=index;"
            id="answer-button-{{i}}"
            class="one-answer"
            (click)="checkAnswer(i)"
            [disabled]="isAnswerClicked">


      <!-- answer letters A, B ... n -->
      <span *ngFor="let letter of answerLetters; let j=index;"
            class="answer-number">
          <span *ngIf="i===j" [ngClass]="{'answer-number_clicked':  isAnswerClicked}">
            {{letter}}
          </span>
        </span>

      <span class="answer-text">{{answer}}</span>
    </button>

  </div>

</div>
