@import '../../../shared/variables';
@import '../../../shared/mixins';

.question {
  display: flex;
  justify-content: center;
  padding: 2*$margin $margin;
}

.answers-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @media #{$gt-md_size} {
    flex-direction: row;
  }
}

.one-answer {
  display: flex;
  align-items: center;
  margin: 5px 1px;
  font-size: $font-small;
  padding: .5*$margin;
  @media #{$gt-md_size} {
    font-size: $font-normal;
    margin: .5*$margin;
    flex-basis: calc(50% - 24px);
    -webkit-flex-basis: calc(50% - 24px); /* Safari 6.1+ */
  }
  line-height: normal;
  text-align: left;
  min-height: 72px;
  white-space: normal;
  //word-wrap: break-word;
  text-justify: inter-word;
}

// angular material class
//.mat-button-wrapper {
//  text-justify: inter-word;
//  white-space: normal;
//  width: 100%;
//}

.answer-text {
  //margin: .5*$margin 0 .5*$margin $margin;
  margin-left: $margin;
}

.answer-number {
  color: $accent;
  position: absolute;
  left: 3px;
  top: 3px;
}

.answer-number_clicked {
  color: white;
}









