<div class="section-exercise">


  <div *ngIf="!checkClicked" [@slideFromRight]>
    <span class="question">{{exerciseWithOccurrences.exercise.question}}</span>

    <div class="answers-grid">
      <button mat-raised-button
              *ngFor="let answer of exerciseWithOccurrences.exercise.answers; let i=index;"
              id="answer-button-{{i}}"
              class="one-answer-button"
              (click)="addAnswer(i)">

        <!-- answer letters A, B ... n -->
        <span *ngFor="let letter of answerLetters; let j=index;"
              class="answer-letter-button"
              [style.color]="accentColor">
          <span *ngIf="i===j">
            {{letter}}
          </span>
        </span>

        <span>{{answer}}</span>
      </button>

    </div>
  </div>

  <div *ngIf="checkClicked" class="answer-notification" [@slideFromBottom]>

      <div class="answer-feedback">
        <div *ngIf="isAnswerCorrect">
          <mat-icon aria-label="Sad face" class="feedback-icon">sentiment_very_satisfied</mat-icon>
          <span>DOBRZE!</span>
        </div>
        <div *ngIf="!isAnswerCorrect">
          <mat-icon aria-label="Sad face" class="feedback-icon">sentiment_very_dissatisfied</mat-icon>
          <span>ŻLE</span>
        </div>
      </div>

      <div class="question">
        <span>{{exerciseWithOccurrences.exercise.question}}</span>
      </div>

      <div class="answers-container">
        <p class="answer-title"
           [style.color]="MY_COLORS.MATERIAL_GREEN">correct answer/s:</p>

        <div class="one-answer"
             *ngFor="let answerIndex of exerciseWithOccurrences.exercise.correctAnswers">
            <span class="answer-letter"
                  [style.color]="accentColor">
            {{answerLetters[answerIndex]}}
            </span>
          <span>{{exerciseWithOccurrences.exercise.answers[answerIndex]}}</span>
        </div>
      </div>

      <div class="answers-container" *ngIf="!isAnswerCorrect">
        <p class="answer-title"
           [style.color]="MY_COLORS.MATERIAL_RED">selected answer/s:</p>

        <div class="one-answer"
             *ngFor="let answerIndex of clickedAnswersIndexes">
            <span class="answer-letter"
                  [style.color]="accentColor">
            {{answerLetters[answerIndex]}}
            </span>
          <span>{{exerciseWithOccurrences.exercise.answers[answerIndex]}}</span>
        </div>
      </div>
    </div>

</div>
