@import '../../../shared/mixins';
@import '../../../shared/variables';

mat-toolbar {
  height: 56px;
  position: relative;
  z-index: 2;
  @include box_shadow;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
  }
}

.buttons-big {
  button {
    mat-icon {
      margin-right: 10px;
    }
  }
}

.wave-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $primary-dark;
  width: 150%;
  height: 185px;
  margin-top: -110px;
  border-radius: 50%;
  @include box_shadow();
}

.app-name {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: $font-normal;
  text-shadow: 0 1px 0 rgba(black, .1);
  color: $text-white;
}

.header-title {
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  position: absolute;
  left: 50%;
  top: 55px;
  transform: translateX(-50%);
}
