@import 'shared/variables';

/*
      STRIPES
 */
#stripes {
  width: 100%;
  position: absolute;
  height: 500px;
  @media #{$gt-md_size} {
    height: 600px;
  }
  @media #{$gt-lg_size} {
    height: 750px;
  }
  overflow: hidden;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
}

#stripes, #stripes span {
  position: absolute;
}

#stripes span {
  height: 50%;
}

#stripes :first-child {
  background-image: linear-gradient(to right, transparent, $hover_color 50%, transparent);
  width: 75%;
  top: 20%;
  height: 33%;
  @media #{$gt-xs_size} {
    width: 50%;
    top: 23%;
  }
  @media #{$gt-sm_size} {
    top: 30%;
  }
}

.main-card {
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
  border-radius: 0;
  border: none;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
}
