@import 'shared/variables';

/*
      STRIPES
 */
#stripes {
  width: 100%;
  min-height: 70vh;
  overflow: hidden;
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
}

#stripes, #stripes span {
  position: absolute;
}

#stripes span {
  height: 190px;
}

#stripes :first-child {
  top: -10%;
  width: 110%;
  left: -12%;
  @media #{$gt-sm_size} {
    top: 0;
  }
  @media #{$gt-md_size} {
    left: -16.66666%;
  }
}

#stripes :nth-child(2) {
  transform: rotate(25deg);
  width: 100%;
  top: 90%;
  left: -30%;
  height: 50%;
}
