<section class="section-padding" *ngIf="test">

  <div class="row">
    <div class="col-12 col-md-6" [style.color]="appSettings.currentTheme.textColor">
      <span class="beta-paragraph">beta</span>
      <h3 class="my-title" [innerHTML]="'import-exercises-header' | translate"></h3>
      <p class="my-sub-title" [innerHTML]="'import-exercises-paragraph' | translate"></p>

    </div>
    <div class="col-12 col-md-6">
      <mat-card class="select-card">
        <div class="select-header">
          <button mat-raised-button
                  color="accent"
                  class="parser-button"
                  [matMenuTriggerFor]="parserMenu">
            <span>Parser:</span>
            <span class="selected-parser">{{selectedParser.label}}</span>
            <mat-icon aria-label="Parser">expand_more</mat-icon>
          </button>
        </div>

        <div class="drop-zone"
             [style.border-color]="appSettings.currentTheme.accent"
             appDropZone
             (hovered)="toggleHover($event)"
             (dropped)="getFiles($event)"
             [class.hovering]="isHovering">

          <h3 class="my-sub-title" style="margin-bottom: 24px;"> {{'import-exercises-drag-file' | translate}}</h3>

          <button mat-raised-button (click)="fileInput.click()">
            <mat-icon aria-label="Upload">cloud_upload</mat-icon>
            <span style="margin-left: 24px;">{{'import-exercises-drag-choose' | translate}}</span>
          </button>

          <input #fileInput
                 hidden
                 multiple
                 [accept]="selectedParser.validFileType"
                 type="file"
                 (change)="getFiles($event.target.files)">
        </div>
      </mat-card>
    </div>
  </div>

  <app-spinner [hidden]="!filesOnLoad"></app-spinner>

  <p style="margin: 24px 0;" class="error-msg" *ngIf="errorMsg && !filesOnLoad">{{errorMsg}}</p>

  <mat-card class="import-card" *ngIf="!filesOnLoad &&  importedExercises.length > 0">
    <div class="import-card-header">
      <span>{{ 'import-exercises-imported-exercises' | translate}}: <strong>{{importedExercises.length}}</strong></span>

      <div class="import-buttons">
        <span>Warning! Imported exercises will overwrite current.</span>
        <button mat-raised-button
                color="accent"
                (click)="saveExercises();">
          {{ 'import-exercises-save' | translate}}
        </button>
        <button mat-raised-button
                (click)="resetExercises();"
                color="warn">
          {{ 'import-exercises-reset' | translate}}
        </button>
      </div>
    </div>

    <div *ngFor="let exercise of importedExercises; let i=index">
      <app-display-one-exercise [exercise]="exercise"
                                [isAuthor]="true"
                                [number]="i + 1"
                                (exerciseUpdated)="handleExerciseUpdated($event)"
                                (exerciseDeleted)="handleExerciseDeleted($event)">
      </app-display-one-exercise>
    </div>

  </mat-card>
</section>

<!-- PARSER MENU-->
<mat-menu #parserMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item *ngFor="let parser of parserOption" (click)="changeParser(parser)">
      <span>{{parser.label}}</span>
    </button>
  </ng-template>
</mat-menu>
