@import '../../../shared/variables';
@import '../../../shared/mixins';

.exercise-question {
  display: flex;
  align-items: center;
}

.exercise-number {
  font-weight: 600;
  margin-right: 12px;
}

/*
  ANSWERS
 */
/deep/ .mat-form-field-wrapper {
  padding-bottom: 0;
}

.single-answer {
  display: flex;
  align-items: center;
  margin-bottom: .25*$margin;
  @media #{$gt-md_size}{
    margin-bottom: .5*$margin;
  }
}

.answer-text {
  min-width: 0;
  padding-left: .5*$margin;
  @media #{$gt-xs_size}{
    padding-left: $margin;
  }
  font-size: 1.1*$font-small;
}

.editable-answer {
  width: 100%;
  display: flex;
  align-items: center;
}

.answer-checkbox {
  height: 20px;
}

.add-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    outline: none;
  }
}

#deleteAnswerButton {
  margin-right: -12px;
  @media #{$gt-lg_size} {
    margin-right: -19px;
  }
  color: $text_secondary;
  &:hover {
    color: $material-red;
  }
}

/*
  OVERVIEW
 */
.overview-header {
  margin: 2*$margin 0 $margin;
  @media #{$gt-lg_size} {
    margin: 4*$margin 0 $margin;
  }
  font: 500 20px/32px Roboto
}

.exercise-dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
