<section *ngIf="test && exercises" id="testInfoSection">

  <mat-card [@slideFromRight]>
    <div class="container test-info-container">

      <div class="left-side">

        <div class="author-date">
          <span style="margin-right: 24px">{{test.createDate | date: 'dd.MM.yyyy'}}</span>
          <span>TODO autor</span>
        </div>

        <div class="test-name">{{test.name}}</div>

        <mat-chip-list class="tag-chip-list">
          <mat-chip *ngFor="let tag of test.tags" [disabled]="true">
            {{tag}}
          </mat-chip>
        </mat-chip-list>

        <div class="test-desc">{{test.desc}}</div>

      </div>

      <div class="right-side">
        <button mat-raised-button
                (click)="navigateToLearn()"
                color="accent"
                [disabled]="originalExercisesLength === 0">
          <mat-icon aria-label="Learn icon">play_arrow</mat-icon>
          <span>Learn</span>
        </button>
        <button mat-icon-button matTooltip="Edit"
                *ngIf="auth.currentUserId === test.authorId"
                (click)="navigateToEdit()">
          <mat-icon aria-label="Edit icon">edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Share">
          <mat-icon aria-label="Share icon">share</mat-icon>
        </button>
        <button mat-icon-button matTooltip="More" (click)="openMoreBottomSheet()">
          <mat-icon aria-label="More icon">more_horiz</mat-icon>
        </button>
      </div>

    </div>
  </mat-card>

  <div class="container" style="padding: 0">
    <app-display-exercises [exerciseList]="exercises"
                           [testId]="testId"
                           [authorId]="test.authorId">
    </app-display-exercises>
  </div>

</section>



