@import '../../shared/variables';
@import '../../shared/mixins';

.section-test-info {
  padding: .5*$margin 0;
  @media #{$gt-sm_size} {
    padding: 2*$margin 0;
  }
}

button {
  outline: none;
}

// CARD
.info-card {
  border-radius: $border-radius;
  padding: $margin;
  //box-shadow: none !important;
}

.info-card-header {
  font-size: $font-small;
  color: $text_secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{$gt-xs_size} {
    flex-direction: row;
    justify-content: space-between;
  }
}

.test-name {
  margin: .5*$margin 0;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}

// ICON WITH TEXT
.icon-with-text {
  display: flex;
  align-items: center;
}

.test-icon {
  @include mat-icon-size(20px);
  margin-right: .25*$margin;
  @media #{$gt-md_size} {
    @include mat-icon-size(24px);
    margin-right: .5*$margin;
  }
}

// BUTTONS
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end
}

.box-button {
  width: 100%;
  margin: .5*$margin 0;
  border-radius: $border-radius;
  /deep/ .mat-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// TABS
.tabs-card{
  border-radius: $border-radius;
  margin-top: 2*$margin;
  padding: 0;
}
