@import '../../shared/variables';

.test-info-container {
  display: flex;
  flex-direction: column;
  @media #{$gt-md_size} {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.right-side {
  display: flex;
  justify-content: center;
  button {
    outline: none;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }

  }
}

.author-date {
  font-size: $font-small;
}

.test-name {
  font-size: 2*$font-normal;
  font-weight: 600;
  margin-bottom: .5*$margin;
}

.tag-chip-list {
  outline: none;
}

.test-desc {
  margin-top: .5*$margin;
  margin-bottom: $margin;
}
