@import "variables";

@mixin box_shadow() {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
}

@mixin size($width, $height) {
  height: $width;
  width: $height;
}

@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  @include size($size, $size)
}

/*
      FLEX UTILITIES
 */

@mixin flex-center-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
      BUTTONS
 */
@mixin upper-text($size: $font-normal) {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: $size;
}

/*
      SIZES
 */
@mixin fs-small-X-normal($breakpoint: $gt-md_size) {
  font-size: $font-small;
  @media #{$breakpoint} {
    font-size: $font-normal;
  }
}
