/**
        define colors here
 */

$bg: #FAFAFA;

$primary: #673ab7;
$primary-dark: #512DA8;
$primary-light: #9575CD;
$accent: #03A9F4;

$text-white: #FAFAFA;
$text-dark: #202020;
$text_secondary: #757575;

$divider_color: #BDBDBD;
$hover_color: rgba(0, 0, 0, 0.04);

$material-red: #F44336;
$material-green: #8BC34A;

// media queries variables
$gt-xs_size: 'screen and (min-width: 576px)'; // Small devices (landscape phones, 576px and up)
$gt-sm_size: 'screen and (min-width: 768px)'; // Medium devices (tablets, 768px and up)
$gt-md_size: 'screen and (min-width: 960px)'; // Large devices (desktops, 992px and up)
$gt-lg_size: 'screen and (min-width: 1279px)'; // Extra large devices (large desktops, 1200px and up)

$btw_xs_sm: 'screen and (min-width: 576px) and (max-width: 768px)';

// sizes
$margin: 24px;

$font-normal: 15px;
$font-small: 12px;

$border-radius: 5px;
