@import '../../../../shared/variables';
@import '../../../../shared/mixins';

.box-item {
  padding: .5*$margin;
  color: $text_secondary;
  border-radius: 20px 0 20px 0;
  margin: .5*$margin;
  display: inline-block;
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  width: calc(100% - 24px);
  //@include box_shadow;
}

.box-item-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.box-item-row {
  display: flex;
  align-items: center;
  margin-bottom: .5*$margin;
}

.tag-row {
  display: flex;
  flex-wrap: wrap;
}

.box-item-icon {
  @include mat-icon-size(15px);
  margin-right: .25*$margin;
}

.name-text {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
