<div class="register-container" id="registerContainer">

  <div class="error-msg" *ngIf="errorMsg" [@slideFromTop]>{{errorMsg}}</div>
  <div class="ok-msg" *ngIf="responseMsg" [@slideFromTop]>{{responseMsg}}</div>

  <span class="register-text">create account for free!</span>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="register-form">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Display Name</mat-label>
        <input type="text" matInput placeholder="Display Name" [formControl]="displayName">
        <mat-icon matSuffix class="register-icon">account_circle</mat-icon>
        <mat-error *ngIf="displayName.hasError('required')">Display Name is <strong>required</strong></mat-error>
      </mat-form-field>

      <mat-form-field color="accent" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Email" [formControl]="email">
        <mat-icon matSuffix class="register-icon">mail</mat-icon>
        <mat-error *ngIf="email.hasError('required')">Email is <strong>required</strong></mat-error>
        <mat-error *ngIf="email.hasError('email')">Email is <strong>badly formatted</strong></mat-error>
      </mat-form-field>

      <mat-form-field color="accent" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
               [type]="hidePassword ? 'password' : 'text'"
               placeholder="Password"
               [formControl]="password">
        <mat-icon matSuffix
                  class="register-icon"
                  (click)="hidePassword = !hidePassword">
          {{hidePassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="password.hasError('required')">Password is <strong>required</strong></mat-error>
      </mat-form-field>

      <mat-form-field color="accent" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput
               [type]="hidePassword ? 'password' : 'text'"
               placeholder="Password"
               [formControl]="confirmPassword"
               appCompare="password">
        <mat-icon matSuffix
                  class="register-icon"
                  (click)="hidePassword = !hidePassword">
          {{hidePassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="confirmPassword.hasError('required')">Confirm password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="confirmPassword.hasError('compare')">Password does not match</mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button
            id="registerButton"
            color="accent"
            type="submit">
      Register
    </button>

  </form>
</div>
