@import '../../shared/variables';
@import '../../shared/mixins';

.section-test-learn {

}

button {
  outline: none;
  @include upper-text();
}

/*
    CONFIG DRAWER
 */
.config-drawer-container {
  min-height: calc(100vh - 48px);
}

.config-drawer {
  width: 315px;
}

/*
    TEST LEARN HEADER
 */
.test-learn-header {
  position: fixed;
  top: 0;
  height: 48px;
  width: 100%;
  z-index: 9;
  padding: 0;
  background-color: revert;
  color: $text_secondary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.test-learn-header_inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: $font-small;
  align-items: center;
}

.progress-bar {
  height: 4px;
}

.one-info_small {
  display: flex;
  align-items: center;

  .info-icon {
    @include mat-icon-size(20px);
    margin-right: 5px;
  }
  padding: 0 .5*$margin;
  &:last-child {
    padding: 0;
  }
}

.one-info_big {
  display: flex;
  align-items: center
}

.info-value {
  font-weight: 700;
  margin-left: 5px;
  font-size: $font-normal;
}

/*
    EXERCISE CONTENT
 */
.test-learn-exercise {
  padding-bottom: 3*$margin;
}

/*
    TEST END
 */
#done {
  @include mat-icon-size(96px);
  color: $material-green;
}

.test-end-header {
  text-align: center;
  margin: 2*$margin 0;

}

.test-end-action {
  margin-top: $margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  .end-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
