<section *ngIf="test">

  <mat-card class="test-learn-container">
    <app-test-config *ngIf="!areSettingsSet"
                     (startTestEvent)="saveSettingsAndStartTest($event)">
    </app-test-config>

    <div *ngIf="areSettingsSet">


      <div class="exercise-header">
        <button mat-icon-button>
          <mat-icon aria-label="More icon">more_vert</mat-icon>
        </button>
      </div>


      <div class="exercise-content">

        <!-- STATS - RATIOS -->
        <div class="my-progress">
          <div class="my-progress-bar">
            <span>Reviewed: {{test.progress.masteredExercisesIds.length + test.progress.reviewedExercisesIds.length}} / {{origTestExercises.length}}</span>
            <mat-progress-bar
              style="margin-top: 5px;"
              color="accent"
              mode="determinate"
              [value]="countReviewedRatio()">
            </mat-progress-bar>
          </div>
          <div class="my-progress-bar">
            <span>Mastered: {{test.progress.masteredExercisesIds.length}} / {{origTestExercises.length}}</span>
            <mat-progress-bar
              style="margin-top: 5px;"
              color="accent"
              mode="determinate"
              [value]="countMasteredRatio()">
            </mat-progress-bar>
          </div>
        </div> <!-- end STATS -->


        <div class="third-row" *ngIf="!isTestEnd">
          <div>
            Occurrences: {{currentExercise.occurrences}}
          </div>
        </div>


        <app-exercise *ngIf="!isTestEnd"
                      [exerciseWithOccurrences]="currentExercise"
                      [repetitionExerciseNumber]="test.settings.repetitionNumber"
                      (answerClicked)="handleSelectedAnswer($event)"
                      style="overflow-x: hidden">
        </app-exercise>

        <!-- EXERCISES IN TABS -->
        <!--<mat-tab-group *ngIf="!isTestEnd">-->
        <!--<mat-tab *ngFor="let exercise of preparedTestExercises; let i=index;" [label]="exercise.exercise.number">-->
        <!--<app-exercise *ngIf="exercise.occurrences > 0" [exerciseWithOccurrences]="exercise"-->
        <!--(answerClicked)="handleSelectedAnswer($event)"></app-exercise>-->
        <!--</mat-tab>-->
        <!--</mat-tab-group>-->

        <div *ngIf="isTestEnd" class="test-end">
          <mat-icon id="done" aria-label="Done icon">done</mat-icon>
          <span>Congratulations, you've mastered all the exercises!</span>
          <button mat-raised-button color="accent" (click)="resetTest()">RESET TEST</button>
        </div>

        <!-- next exerciseWithOccurrences button-->
        <div class="next-exercise" *ngIf="!isTestEnd">
          <button mat-raised-button
                  [disabled]="!answerClickedOutput"
                  (click)="nextExercise()">
            Next
          </button>
        </div>

      </div>
    </div>
  </mat-card>
</section>
