@import '~normalize.css/normalize.css';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import 'app/shared/variables';
@import 'app/shared/mixins';

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
}

.mat-drawer-container {
  //background-color: transparent !important;
}
.fixed-top{
  position: absolute;
  top: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.paragraph-font {
  font-size: 1.1*$font-normal;
  color: $text_secondary;
}

.sub-paragraph-font {
  font-size: $small-font-size;
  color: $text_secondary;
}

.padding-top-12 {
  padding-top: 12px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

/**
        FLEX UTILITIES
 */

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.d-flex {
  display: flex;
}

.my-divider {
  width: 100%;
  height: 2px;
  background-color: $hover_color;
}

#my-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid rgba(103, 58, 183, .3);
  border-radius: 50%;
  border-top-color: #673ab7;
  animation: spin 1s ease-in-out infinite;
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px)
}

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

.small-text {
  font-size: $font-small;
}

/*
      MESSAGES
 */
.my-msg {
  text-align: center;
  margin: .5*$margin .5*$margin 0;
  @media #{$gt-md_size} {
    margin: $margin $margin 0;
  }
  padding: .5*$margin;
  color: $text-white;
  border-radius: $border-radius;
  @include box_shadow;
}

.error-msg {
  @extend .my-msg;
  background-color: $material-red;
}

.ok-msg {
  @extend .my-msg;
  background-color: $material-green;
}

.z-index-2 {
  z-index: 2;
}

.header-line-right {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
  &:after {
    content: '';
    display: inline-block;
    background: $divider_color;
    margin-right: -100%;
    margin-left: .5*$margin;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
  }
}

.header-line-both {
  display: table;
  white-space: nowrap;
  width: 100%;
  &:before, &:after {
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-color: $divider_color;
    height: 1px;
    content: "";
    display: table-cell;
    width: 50%;
  }
  &:before {
    border-right: 15px solid transparent;
  }
  &::after {
    border-left: 15px solid transparent;

  }
}

.icon-form{
  display: flex;
  align-items: center;
}

// NO MATCHES
.no-matches {
  text-align: center;
  margin: $margin 0;
  font-size: 1.3*$font-normal;
  .text {
    color: $material-red;
    margin: 2*$margin 0;
  }
  button {
    @include upper-text();
  }
  .no-matches-icon {
    @include mat-icon-size(100px);
  }
}

// BOUNCE ANIMATION
.bounce-inf {
  z-index: 999;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-30px);
  }
  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// SHAKE ANIMATION
.shake {
  animation: shake 0.35s cubic-bezier(.36, .07, .19, .97) both;
  -webkit-animation: shake 0.35s cubic-bezier(.36, .07, .19, .97) both;
  -moz-animation: shake 0.35s cubic-bezier(.36, .07, .19, .97) both;
  -o-animation: shake 0.35s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}
