<section class="login-section" id="loginContainer">

  <div class="error-msg" *ngIf="errorMsg">{{errorMsg}}</div>
  <div class="ok-msg" *ngIf="responseMsg">{{responseMsg}}</div>

  <!-- LOGIN CONTAINER -->
  <div *ngIf="!showForgotPassword"
       class="login-container">

    <div class="social-login">
      <button mat-raised-button id="google" (click)="googleLogin()">{{ 'login-google' | translate}}</button>
    </div>

    <!-- EMAIL / PASSWORD FORM -->
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginWithEmail()">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ 'login-email-label' | translate}}</mat-label>
        <input matInput type="email"
               [placeholder]="'login-email-placeholder' | translate"
               [formControl]="email">
        <mat-icon class="color-secondary"
                  matSuffix
                  aria-label="Email">
          mail
        </mat-icon>
        <mat-error *ngIf="email.hasError('required')" [innerHTML]="'login-email-error-required' | translate"></mat-error>
        <mat-error *ngIf="email.hasError('email')" [innerHTML]="'login-email-error-format' | translate"></mat-error>
      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ 'login-password-label' | translate}}</mat-label>
        <input matInput
               [type]="hidePassword ? 'password' : 'text'"
               [placeholder]="'login-password-placeholder' | translate"
               [formControl]="password">
        <mat-icon class="color-secondary"
                  matSuffix
                  aria-label="Password visibility"
                  (click)="hidePassword = !hidePassword">
          {{hidePassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="password.hasError('required')" [innerHTML]="'login-password-error-required' | translate"></mat-error>
      </mat-form-field>

      <div class="login-actions">
        <mat-checkbox style="margin-top: 8px;"
                      [(formControl)]="rememberMe">
          {{ 'login-remember-me' | translate}}
        </mat-checkbox>
        <button mat-raised-button color="accent" type="submit">{{ 'login-button' | translate}}</button>
      </div>

    </form>
    <a mat-button
       class="width-100 color-secondary"
       style="text-align: left"
       (click)="showForgotPassword = true">
      {{ 'login-forgot-passwd' | translate}}
    </a>
  </div>

  <!-- FORGOT PASSWORD -->
  <div class="forgot-password" *ngIf="showForgotPassword" [@slideFromBottom]>

    <form class="forgot-form" (ngSubmit)="forgotPassword()">
      <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ 'login-email-label' | translate}}</mat-label>
        <input matInput type="email"
               [placeholder]="'login-email-placeholder' | translate"
               [formControl]="forgotEmail">
        <mat-error *ngIf="forgotEmail.hasError('required')"
                   [innerHTML]="'login-email-error-required' | translate"></mat-error>
        <mat-error *ngIf="forgotEmail.hasError('email')" [innerHTML]="'login-email-error-format' | translate"></mat-error>
      </mat-form-field>
      <button mat-button color="accent" type="submit" class="width-100">{{ 'login-button-send' | translate}}</button>
    </form>

    <a mat-button
       class="width-100"
       (click)="showForgotPassword = false"
       *ngIf="showForgotPassword">
      {{ 'login-button-cancel' | translate}}
    </a>
  </div>

</section>
