<mat-card class="tests-boxes-card" *ngIf="testList" [@slideFromTop]>

  <div class="row">
    <div class="col-12" style="margin-bottom: 24px;">
      <mat-form-field color="accent"
                      floatLabel="never"
                      style="width: 100%;">
        <input matInput placeholder="Search" [(ngModel)]="searchText"  [disabled]="testList.length === 0">
        <mat-icon matSuffix aria-label="Search">search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-3"
         *ngFor="let user_test of testList | searchTest: searchText"
         style="margin-bottom: 30px">
      <app-one-test-box [oneBox]="user_test"></app-one-test-box>
    </div>
  </div>
  
  <div *ngIf="testList.length > 0 && (testList | searchTest: searchText).length === 0"
       class="no-matches">
    <mat-icon aria-label="No matches icon" class="no-matches-icon">sentiment_very_dissatisfied</mat-icon>
    <p><span class="text">No matches</span> for <strong>{{searchText}}</strong></p>
    <button mat-stroked-button color="accent" (click)="searchText = ''">clear input</button>
  </div>
</mat-card>
