@import '../../variables';

.section-user-tests {
  padding: $margin 0;
  @media #{$gt-md_size} {
    padding: $margin;
  }
}

.box-item-container {
  position: relative;
  width: 100%;
  column-gap: 0;
  column-count: 0;
  @media #{$gt-xs_size} {
    column-count: 2;
  }
  @media #{$gt-md_size} {
    column-count: 3;
  }
  @media #{$gt-lg_size} {
    column-count: 4;
  }
}
